.add-from-url {
    border-top: 1px solid var(--border-color);
    padding: 5px 0;
}

.add-from-url-header {
    font-weight: bold;
    text-align: center;
}

.add-from-url-search {
    display: table;
    width: 100%;
}

.add-from-url-clear {
    display: table-cell;
    vertical-align: bottom;
    width: 0px;
    transition: width 0.5s 0s;
}

.add-from-url-clear span {
    display: none;
}

.add-from-url-clear-show {
    width: 20px;
    transition: none;
}

.add-from-url-clear-show span {
    display: inline;
}

.add-from-url-search-input {
    display: table-cell;
    vertical-align: bottom;
}

.add-from-url-button {
    display: table-cell;
    text-align: center;
    margin-top: 8px;
    width: 35px;
}

.conversions-item {
    display: table;
    margin-bottom: 10px;
    width: 100%;
}

.conversions-close {
    display: table-cell;
}

.conversions-unit {
    display: table-cell;
    width: 45vw;
}

.conversions-value {
    display: table-cell;
    width: 50%;
    padding-left: 5px;
}

.conversions-base-unit {
    display: table-cell;
}

.alias {
    display: grid;
    grid-template-columns: 18px 1fr;
    grid-template-areas:
        "icon name"
        "error error";
    margin-bottom: 5px;
}

.alias-close {
    grid-area: icon;
}

.alias-name {
    grid-area: name;
}

.alias-error {
    grid-area: error;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    margin-bottom: 5px;
}

.fatsecret-result {
    margin-top: 5px;
    border-top: 1px solid var(--border-color);
}

.fatsecret-link {
    display: inline-block;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: underline;
    margin-bottom: 2px;
}

.fatsecret-link:hover  {
    color: var(--success-color);
}

.fatsecret-info {
    color: var(--disabled-color);
    font-size: 0.9em;
}

.fatsecret-next-search {
    padding: 5px 0;
    text-align: center;
}