.template-add-meal {
    padding-top: 5px
}

.template-meals-info {
    color: var(--disabled-color);
    font-size: 0.9rem
}

.food-search-header {
    margin-top: 10px;
    font-weight: bold;
    color: var(--success-color);
}