.diary {
    
}

.diary-date .date-picker-controls {
    height: 40px;
}

.diary-date .date-picker-controls-cell-date {
    width: 100px;
}

.meal-item {
    border: 1px solid var(--border-color);
    margin-bottom: 5px;
    background: var(--block-background-color);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.meal-data {
    position: relative;
}

.meal-type {
    padding: 10px 4px;
    font-weight: bold;
    font-size: 1.3rem;
    outline: none;
    max-width: calc(100% - 65px);
    user-select: none;
}

input.meal-type {
    padding: 10px 0 0 0;
    margin: 0 4px 10px 4px;
    border-bottom: 1px solid var(--success-color);
    font-size: 1.2rem;
    font-family: inherit;
}

.meal-type span {
    width: 10px;
}

.meal-buttons {
    position: absolute;
    top: 10px;
    right: 5px;
}

.meal-type-remove {
    position: absolute;
    top: 10px;
    right: 35px;
}

.meal-info {
    display: table;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.meal-info-cell {
    display: table-cell;
    text-align: center;
    color: var(--success-color);
    width: 15%;
    line-height: 0.6;
}

.meal-info-cell sub {
    font-size: 0.7em;
}

.meal-energy {
    width: 40%;
}

.meal-actions {
    padding: 5px;
    border-top: 1px solid var(--border-color);
    background: var(--select-background-color);
}

.meal-action {
    margin: 2px 0;
    display: inline-block;
}

.meal-action-name {
    color: var(--disabled-color);
    font-size: 0.9rem;
}

.meal-action button span {
    width: 15px;
}

.meal-copy {
    border-top: 1px solid var(--border-color);
    background: var(--select-background-color);
    padding: 5px;
}

.meal-copy-header {
    font-size: 0.9rem;
    color: var(--disabled-color);
}

.meal-copy-cells {
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.meal-copy-cell {
    display: table-cell;
    vertical-align: bottom;
}

.meal-copy-date {
    width: 75px;
    font-size: 0.9em;
}

.meal-copy-type {
    padding: 0 5px;
}

.meal-copy-icon {
    width: 30px;
}

.food-item-group {
    border-top: 1px solid var(--border-color);
    position: relative;
}

.food-item-group-data {
    padding: 4px;
}

.food-item-group-name {
    margin-bottom: 5px;
}

.food-item-group-name span {
    width: 12px;
}

.food-name-group-icon {
    display: inline-block;
    width: 15px !important;
    height: 15px;
    background: var(--template-image);
}

button:hover .food-name-group-icon {
    background: var(--template-image-hover);
}

.group-foods {
    background: var(--select-background-color);
}

.food-item {
    padding: 4px;
    border-top: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
    user-select: none;
}

.food-item-remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: right;
    background: var(--error-color);
    color: var(--disabled-color);
    pointer-events: none;
    transition: width 0.5s, opacity 0.5s;
    height: 100%;
}

.food-item-remove-cell {
    position: absolute;
    right: 10px;
    top: calc(50% - 11px);
}

.food-item-remove span {
    color: var(--error-text-color);
}

.food-name {
    margin-bottom: 5px;
}

.food-info {
    display: table;
    width: 100%;
    font-size: 0.85rem;
}

.food-info-cell {
    display: table-cell;
    text-align: center;
}

.food-energy {
    color: var(--success-color);
    width: 40%;
    text-align: left;
}

.food-fats, .food-proteins, .food-carbohydrates {
    color: var(--disabled-color);
    width: 15%;
}

.food-portion-change {
    min-width: 70px;
}

.add-meal-type button {
    margin-bottom: 5px;
}

.diary-statistic {
    display: table;
    width: 100%;
    border-top: 1px solid var(--border-color);
    margin-top: 10px;
    padding-top: 10px;
}

.diary-statistic-header {
    font-size: 1.3rem;
    font-weight: bold;
}

.diary-statistic-info {
    display: table-cell;
    width: calc(100% - 100px);
    vertical-align: top;
}

.diary-statistic-chart {
    display: table-cell;
    width: 100px;
}

.diary-statistic-chart svg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.diary-statistic-row {
    margin-bottom: 5px;
}

.diary-limits {
    margin-top: 10px;
    border-top: 1px solid var(--border-color);
    padding-top: 5px;
    position: relative;
}

.diary-limits-header {
    font-size: 1.3rem;
    font-weight: bold;
}

.diary-limit {
    margin-top: 5px;
}

.diary-limit-lost {
    color: var(--disabled-color);
    font-size: 0.9em;
}

.diary-limits-icons {
    position: absolute;
    top: 5px;
    right: 0;
}

.diary-limits-error {
    margin-top: 8px;
    margin-bottom: 0;
}