.diary {
    
}

.diary-date {
    padding: 5px;
    text-align: center;
}

.diary-date a {
    color: var(--text-color);
}

.diary-date a:hover {
    color: var(--success-color);
}

.diary-current-date {
    padding: 0 10px;
}

.meal-item {
    border: 1px solid var(--border-color);
    margin-bottom: 5px;
    background: var(--block-background-color);
    border-radius: 8px;
    position: relative;
}

.meal-type {
    padding: 10px 4px;
    font-weight: bold;
    font-size: 1.3rem;
}

.meal-type span {
    width: 10px;
}

.meal-add {
    position: absolute;
    top: 10px;
    right: 5px;
}

.meal-type-remove {
    position: absolute;
    top: 10px;
    right: 35px;
}

.meal-info {
    display: table;
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.meal-info-cell {
    display: table-cell;
    text-align: center;
    color: var(--success-color);
    width: 15%;
    line-height: 0.6;
}

.meal-info-cell sub {
    font-size: 0.7em;
}

.meal-energy {
    width: 40%;
}

.food-item-group {
    border-top: 1px solid var(--border-color);
    position: relative;
}

.food-item-group-data {
    padding: 4px;
}

.food-item-group-name {
    margin-bottom: 5px;
}

.food-item-group-name span {
    width: 12px;
}

.group-foods {
    background: var(--select-background-color);
}

.food-item {
    padding: 4px;
    border-top: 1px solid var(--border-color);
    overflow: hidden;
    position: relative;
}

.food-item-remove {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background: var(--error-color);
    color: var(--disabled-color);
    pointer-events: none;
    transition: width 0.5s, opacity 0.5s;
    display: table;
    height: 100%;
}

.food-item-remove-cell {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

.food-item-remove span {
    color: var(--error-text-color);
}

.food-name {
    margin-bottom: 5px;
}

.food-info {
    display: table;
    width: 100%;
    font-size: 0.85rem;
}

.food-info-cell {
    display: table-cell;
    text-align: center;
}

.food-energy {
    color: var(--success-color);
    width: 40%;
    text-align: left;
}

.food-fats, .food-proteins, .food-carbohydrates {
    color: var(--disabled-color);
    width: 15%;
}

.food-portion-change {
    width: 70px;
}

.diary-statistic {
    display: table;
    width: 100%;
    border-top: 1px solid var(--border-color);
    margin-top: 10px;
    padding-top: 10px;
}

.diary-statistic-info {
    display: table-cell;
    width: calc(100% - 100px);
    vertical-align: top;
}

.diary-statistic-chart {
    display: table-cell;
    width: 100px;
}

.diary-statistic-chart svg {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.diary-statistic-row {
    margin-bottom: 5px;
}
