.food-blocks {
    width: 100vw;
    margin: 0 -10px;
    overflow: hidden;
}

.food-blocks-header {
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    padding: 0 5px;
    border-top: 1px solid var(--border-color);
    background: var(--tabs-background-color);
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.food-blocks-header::-webkit-scrollbar {
    -webkit-appearance: none;
    display: none;
}

.food-block-name {
    display: inline-block;
    padding: 10px 0;
    margin: 0 5px;
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--text-color);
}

.food-blocks-header .active {
    color: var(--success-color);
    border-bottom: 2px solid var(--success-color);
}

.food-blocks-flex {
    display: flex;
}

.food-block {
    width: 100vw;
    height: min-content;
    box-sizing: border-box;
    padding: 0 10px;
    flex: 0 0 auto;
}

.food-block .food-item:first-child {
    border-top: none;
}

.add-food-buttons {
    margin-top: 8px;
    text-align: center;
}
