.food-search {
    box-sizing: border-box;
    padding: 5px 10px;
    display: table;
    width: 100%;
}

.food-search-clear {
    display: table-cell;
    vertical-align: bottom;
    width: 0px;
    transition: width 0.5s 0s;
}

.food-search-clear span {
    display: none;
}

.food-search-clear:hover {
    color: var(--success-color);
}

.food-search-clear-show {
    width: 15px;
    transition: none;
}

.food-search-clear-show span {
    display: inline;
}

.food-search-button {
    display: table-cell;
    width: 60px;
    text-align: right;
}

.food-search-input {
    display: table-cell;
    vertical-align: bottom;
}

.food-search-results {
    padding: 5px 10px 0 10px;
}

.add-food {
    text-align: center;
    margin: 10px 0 10px 0;
}

.food-item:first-child {
    border-top: 1px solid var(--border-color);
}

.food-item {
    border-bottom: 1px solid var(--border-color);
    padding: 5px 10px;
}

.food-name {
    font-weight: bold;
    padding-bottom: 5px;
}

.food-description {
    white-space: pre-wrap;
    color: var(--border-color);
}

.food-info {
    display: table;
    width: 100%;
    font-size: 0.9em;
}

.food-info-cell {
    display: table-cell;
}

.food-energy {
    color: var(--success-color);
    width: 40%;
}

.food-fats, .food-proteins, .food-carbohydrates {
    color: var(--disabled-color);
    text-align: right;
    width: 20%;
}

.food-item-colored {
    background: var(--select-background-color);
}

body {
    padding: 0;
}