.food-search {
    box-sizing: border-box;
    padding-bottom: 5px;
    display: table;
    width: 100%;
}

.food-search-clear {
    display: table-cell;
    vertical-align: bottom;
    width: 0px;
    transition: width 0.5s 0s;
}

.food-search-clear span {
    display: none;
}

.food-search-clear:hover {
    color: var(--success-color);
}

.food-search-clear-show {
    width: 15px;
    transition: none;
}

.food-search-clear-show span {
    display: inline;
}

.food-search-button {
    display: table-cell;
    width: 35px;
    text-align: right;
}

.food-search-buttons {
    display: table-cell;
    width: 70px;
    text-align: right;
}

.food-search-buttons button {
    width: 32px;
}

.food-search-input {
    display: table-cell;
    vertical-align: bottom;
}

.food-search-results {
    margin-bottom: 5px
}

.food-search-info {
    margin-top: 10px;
    color: var(--disabled-color);
    font-size: 0.9rem;
}

.food-search-info-list {
    margin-top: 8px;
}

.food-search-info a {
    color: var(--text-color);
}

.food-search-autocomplete-results {
    white-space: nowrap;
    max-height: 200px;
    overflow-y: scroll;
}

.food-search-autocomplete-result {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    color: var(--disabled-color);
    overflow-x: hidden;
    font-size: 0.9rem;
}

.food-search-autocomplete-result span:hover {
    color: var(--success-color);
}

.food-search-autocomplete-result:first-child {
    margin-top: 5px;
}

.food-search-autocomplete-result:last-child {
    margin-bottom: 10px;
}