input[type="text"],
input[type="password"],
input[type="number"],
input[type="range"],
select,
.input {
    box-sizing: border-box;
    width: 100%;
    border: none;
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    padding: 0;
    background: var(--background-color);
    font-size: 0.9rem;
}

.input {
    display: inline-block;
    min-width: 20px;
    width: fit-content;
}

input[type="text"]:focus, input[type="text"]:hover,
input[type="password"]:focus, input[type="password"]:hover,
input[type="range"]:focus, input[type="range"]:hover,
input[type="number"]:focus, input[type="number"]:hover,
select:focus, select:hover,
.input:focus, .input:hover {
    outline: none;
    border-bottom: 1px solid var(--active-color);
}

input[type="text"]:disabled,
input[type="number"]:disabled,
input[type="range"]:disabled,
select:disabled {
    color: var(--disabled-color);
    border-color: var(--border-color);
}

button {
    background: var(--background-color);
    border: 1px solid var(--border-color);
    color: 1px solid var(--disabled-color);
    border-radius: 5px;
    padding: 4px 8px;
}

button:focus, button:hover {
    background: var(--active-button-background);
    border-color: var(--active-button-background);
    color: var(--active-button-color);
}

button:disabled {
    border: 1px solid var(--disabled-color);
    color: var(--disabled-color);
    background: none;
}

textarea {
    box-sizing: border-box;
    width: 100%;

    border-color: var(--border-color);
    padding: 2px;
    background: var(--background-color);
    font-size: 0.9rem;
    resize: vertical;
}

textarea:focus, textarea:hover {
    outline: none;
    border: 1px solid var(--active-color);
}

input[type="number"].half {
    width: 50%;
}

select.auto {
    width: auto;
}

div[contenteditable] {
    outline: none;
}

.auto-grow {
    display: grid;
}
.auto-grow::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.auto-grow > textarea {
    resize: none;
    overflow: hidden;
}

.auto-grow > textarea,
.auto-grow::after {
    padding: 2px;
    font-family: inherit;
    grid-area: 1 / 1 / 2 / 2;
}
