.statistic svg {
    width: 100%;
    height: 150px;
}

.statistic .label {
    font-size: 0.5em;
    fill: var(--text-color);
}

.statistic-info {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 5px;
}

.statistic-row {
    margin-bottom: 5px;
}

.statistic-name {
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.statistic-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.statistic-showed {
    margin-bottom: 10px;
    font-size: 0.85rem;
    color: var(--disabled-color);
}

.statistic-parameters {
    display: table;
    width: 100%;
    margin-bottom: 5px;
}

.statistic-period {
    display: table-cell;
    vertical-align: bottom;
}

.statistic-button {
    display: table-cell;
    width: 80px;
    text-align: right;
    vertical-align: top;
}

.statistic-period-input {
    display: table;
    width: 100%;
    padding-top: 5px;
}

.statistic-period-input-cell {
    display: table-cell;
}

.statistic-period-input-cell input {
    text-align: center;
}
