.statistic svg {
    width: 100%;
    height: 160px;
}

.statistic .label {
    font-size: 0.5em;
    fill: var(--text-color);
}

.statistic-info {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 5px;
}

.statistic-row {
    margin-bottom: 5px;
}

.statistic-name {
    padding-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold;
}

.statistic-name .fa {
    width: 10px;
}

.statistic-block-name {
    padding-bottom: 5px;
    font-size: 1.1rem;
    font-weight: bold;
}

.statistic-header {
    font-weight: bold;
    margin-bottom: 5px;
}

.statistic-showed {
    margin-bottom: 10px;
    font-size: 0.85rem;
    color: var(--disabled-color);
}

.statistic-parameters {
    margin-bottom: 5px;
}

.statistic-period-input {
    padding-top: 5px;
}
