:root {
    --text-color: #000;
    --background-color: #fff;
    --border-color: #ddd;
    --disabled-color: #aaa;
    --success-color: #4caf50;
    --active-color: #4caf50;

    --active-button-color: #fff;
    --active-button-background: #4caf50;
}

body {
    padding: 0;
    margin: 0;
    color: var(--text-color);
    background: var(--background-color);
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

p {
    margin-top: 0;
    margin-bottom: 8px;
}

.form-row {
    margin-bottom: 8px;
    padding: 0 10px;
}

.form-row label {
    font-weight: bold;
    display: block;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}