:root {
    --text-color: #000;
    --background-color: transparent;
    --border-color: #bbb;
    --disabled-color: #aaa;
    --success-color: #4caf50;
    --error-color: #f44336;
    --active-color: #4caf50;

    --active-button-color: #fff;
    --active-button-background: #4caf50;
}

body {
    padding: 10px 10px 0 10px;
    margin: 0;
    color: var(--text-color);
    background: url("/images/food_texture.jpg");
    background-color: var(--background-color);
}

h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

p {
    margin-top: 0;
    margin-bottom: 8px;
}

.form-row {
    margin-bottom: 8px;
}

.form-row label {
    font-weight: bold;
    display: block;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.success {
    color: var(--success-color);
}

.error {
    color: var(--error-color);
}