<div class="add-food-buttons">
    <button onclick="location.href='/add-food?{% if query %}food_query={{query.replace("'", "\\'")}}&{% endif %}{% if date and meal_type %}date={{date}}&meal_type={{meal_type}}{% endif %}';"><span class="fa fa-plus"></span> Добавить продукт</button>

    <button onclick="location.href='/add-template?{% if query %}food_query={{query.replace("'", "\\'")}}&{% endif %}{% if date and meal_type %}date={{date}}&meal_type={{meal_type}}{% endif %}';"><span class="fa fa-plus"></span> Добавить шаблон</button>
</div>

<div class="food-search-info">
    <b>Как искать?</b><br>
    Сейчас поиск применяет обычное регулярное выражение из экранированного запроса к названию продукта и всем его алиасам. Однако есть дополнительные опции:<br>
    <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('p')">&lt;p&gt;</a></b> — показать белковые продукты;</div>
    <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('f')">&lt;f&gt;</a></b> — показать жирные продукты;</div>
    <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('c')">&lt;c&gt;</a></b> — показать углеводные продукты;</div>
    {% if user_id %}
    <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('T')">&lt;T&gt;</a></b> — показать все доступные шаблоны;</div>
    <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('t')">&lt;t&gt;</a></b> — показать все созданные шаблоны;</div>
    {% endif %}

    <div class="food-search-info-list">Я постараюсь в ближайшее время сделать поиск более умным и удобным.</div>
</div>