    {% include "head.html" %}
    <title>Добавление по штрихкоду | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/barcode.css">
</head>
<body>
    {% include "menu.html" %}
    <button class="sign-icon" onclick="Logout()"><span class="fa fa-sign-out"></span></button>
    <button class="settings-icon" onclick="location.href = '/settings'"><span class="fa fa-cog"></span></button>

    <h2>Добавление по штрихкоду</h2>

    <div class="barcode" id="reader"></div>
    <div class="barcode-buttons">
        <button id="start-btn"><span class="fa fa-camera"> Камера</span></button>
        <button id="start-box-btn"><span class="fa fa-barcode"></span> Штрихкод</button>
    </div>
    <div class="error-center" id="error"></div>

    <script src="/js/forms.js"></script>
    <script src="/js/libs/html5-qrcode.min.v2.3.0.js"></script>
    <script src="/js/barcode_scaner.js"></script>

    <script>
        let codeScaner = new BarcodeScaner("reader", (code) => ParseBarcode(code))
        let error = document.getElementById("error")

        function ParseBarcode(code) {
            codeScaner.Stop()

            SendRequest("/parse-barcode", {"barcode": code}).then((response) => {
                if (response.status != "ok") {
                    error.innerText = response.message
                    return
                }

                error.innerText = ""
                location.href = `{{add_page}}?food_query=${response.name}`
            })
        }

        codeScaner.Start()
    </script>
    {% include "footer.html" %}
</body>
</html>
