{% set data = body_parameters[parameter.name] %}
{% set index = body_date_indices.get(parameter.name, -1) %}
{% if index == -1 %}
    {% set prev_value, value = "", "" %}
{% elif data[index]["date"] != date %}
    {% set prev_index, prev_value, value = index, data[index]["value"], "" %}
{% elif index == 0 %}
    {% set prev_value, value = "", data[index]["value"] %}
{% else %}
    {% set prev_index, prev_value, value = index - 1, data[index - 1]["value"], data[index]["value"] %}
{% endif %}

<div class="parameter" id="parameter-{{parameter.name}}">
    <div class="remove" style="opacity: 0">
        <div class="remove-cell">
            <span class="fa fa-trash"></span>
        </div>
    </div>
    <div class="parameter-data">
        <span class="parameter-name">{{parameter.name}}</span>:
        <span class="input" id="parameter-{{parameter.name}}-value" role="textbox" tabindex="-1" contenteditable inputmode="decimal" data-value="{{value}}" onfocus="StartEditParameter(this, '{{parameter.name}}')">{{value}}</span>
        {{parameter.unit}}
        <span class="parameter-icons no-display" id="parameter-{{parameter.name}}-icons">
            <button id="parameter-{{parameter.name}}-save" onclick="SaveParameterValue('{{date}}', '{{parameter.name}}')"><span class="fa fa-check"></span></button>
        </span>
        <div class="parameter-last">{% if prev_value != "" %}{{data[prev_index]["date"]}}: {{data[prev_index]["value"]}} {{parameter.unit}}{% endif %}</div>
        <div class="error-left parameter-error" id="parameter-{{parameter.name}}-error"></div>
    </div>

    <div class="parameter-plot no-display">
        <div class="parameter-plot-controls">
            <div class="parameter-period{% if data|length == 0 %} no-display{% endif %}">
                <select id="parameter-{{parameter.name}}-period" onchange="UpdateParameterPeriod('{{parameter.name}}')">
                    <option value="all">всё время</option>
                    <option value="month">текущий месяц</option>
                    <option value="last-month">прошлый месяц</option>
                    <option value="last-100days" selected>последние 100 дней</option>
                    <option value="period">период</option>
                </select>

                <div class="error-center" id="parameter-{{parameter.name}}-period-error"></div>
            </div>
        </div>
        <div class="parameter-period-input no-display date-picker-fixed" id="parameter-{{parameter.name}}-dates"></div>
        <div class="parameter-plot-info" id="parameter-{{parameter.name}}-plot-info"></div>
        <div class="parameter-plot-view">
            <div class="parameter-plot-options">
                <label class="switch-checkbox">
                    <input type="checkbox" id="parameter-{{parameter.name}}-show-trend" onchange="BuildPlot('{{parameter.name}}')">
                    <span class="switch-checkbox-text">Показывать линию тренда</span>
                </label>
            </div>
            <div class="parameter-plot-svg">
                <svg id="parameter-{{parameter.name}}-svg"></svg>
            </div>
        </div>
    </div>
</div>