{% set data = body_parameters.get(parameter.name, [{"value": ""}]) %}
{% if data[-1]["date"] == date %}{% set value = data[-1]["value"] %}{% else %}{% set value = "" %}{% endif %}
{% set start_date = data[0]["date"] %}
{% set end_date = data[-1]["date"] %}

<div class="parameter" id="parameter-{{parameter.name}}">
    <div class="remove" style="opacity: 0">
        <div class="remove-cell">
            <span class="fa fa-trash"></span>
        </div>
    </div>
    <div class="parameter-data">
        <span class="parameter-name" onclick="ToggleParameterPlot('{{parameter.name}}')">{{parameter.name}}</span>:
        <span class="input" id="parameter-{{parameter.name}}-value" role="textbox" contenteditable data-value="{{value}}" onfocus="StartEditParameter(this, '{{parameter.name}}')">{{value}}</span>
        {{parameter.unit}}
        <span class="parameter-icons no-display" id="parameter-{{parameter.name}}-icons">
            <button onclick="SaveParameterValue('{{date}}', '{{parameter.name}}')"><span class="fa fa-check"></span></button>
        </span>
        <span class="parameter-last">{% if value == "" and data[-1]["value"] != "" %}({{data[-1]["date"]}}: {{data[-1]["value"]}} {{parameter.unit}}){% endif %}</span>
        <div class="error-message parameter-error" id="parameter-{{parameter.name}}-error"></div>
    </div>

    <div class="parameter-plot no-display">
        <div class="parameter-plot-controls">
            <div class="parameter-period">
                <select id="parameter-{{parameter.name}}-period" onchange="UpdateParameterPeriod('{{parameter.name}}')">
                    <option value="all">всё время</option>
                    <option value="month">текущий месяц</option>
                    <option value="last-month">прошлый месяц</option>
                    <option value="last-100days" selected>последние 100 дней</option>
                    <option value="period">период</option>
                </select>

                <div class="parameter-period-input no-display" id="parameter-{{parameter.name}}-dates">
                    <div class="parameter-period-input-cell">с</div>
                    <div class="parameter-period-input-cell"><input type="text" value="{{start_date}}" id="parameter-{{parameter.name}}-start-date"></div>
                    <div class="parameter-period-input-cell">по</div>
                    <div class="parameter-period-input-cell"><input type="text" value="{{end_date}}" id="parameter-{{parameter.name}}-end-date"></div>
                </div>

                <div class="parameter-period-error error" id="parameter-{{parameter.name}}-period-error"></div>
            </div>
            <div class="parameter-button">
                <button onclick="ChangeParameterPeriod('{{parameter.name}}')">Показать</button>
            </div>
        </div>
        <div class="parameter-plot-info" id="parameter-{{parameter.name}}-plot-info"></div>
        <div class="parameter-plot-svg">
            <svg id="parameter-{{parameter.name}}-svg"></svg>
        </div>
    </div>
</div>