    {% include "head.html" %}
    <title>Дневник питания | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/plot.css">
    <link rel="stylesheet" type="text/css" href="/styles/date-picker.css">
    <link rel="stylesheet" type="text/css" href="/styles/diary.css">
    <link rel="stylesheet" type="text/css" href="/styles/portion-edit.css">
</head>
<body>
    {% include "menu.html" %}
    {% if user_id %}
    <button class="sign-icon" onclick="Logout()"><span class="fa fa-sign-out"></span></button>
    <button class="settings-icon" onclick="location.href = '/settings'"><span class="fa fa-cog"></span></button>
    {% endif %}
    {% set have_limits = limits|length > 0 %}
    {% if not limits %}{% set limits = settings.limits %}{% endif %}

    <div class="diary" id="diary">
        <div class="diary-date" id="date-picker"></div>

        {% for meal_type, meals in meal_info.items() %}
            <div class="meal-item" data-meal-type="{{meal_type}}">
                {% if meal_type not in names %}
                <div class="food-item-remove" style="opacity: 0">
                    <div class="food-item-remove-cell">
                        <span class="fa fa-trash"></span>
                    </div>
                </div>
                <div class="meal-data meal-data-removable">
                {% else %}
                <div class="meal-data">
                {% endif %}
                    <div class="meal-type">
                        {% if meal_statistic[meal_type]["foods"] %}
                        <span id="meal-caret-{{meal_type}}" class="fa meal-caret fa-caret-right"></span>
                        {% endif %}

                        <span id="{{meal_type}}-name">{{names.get(meal_type, meal_type)}}</span>
                    </div>
                    {% if meal_type not in names %}
                    <input type="text" class="meal-type meal-type-input no-display" id="{{meal_type}}-edit-name" placeholder="Введите название" list="names">
                    <div class="error-center"></div>
                    {% endif %}

                {% if meal_statistic[meal_type]["foods"] %}
                    <div class="meal-info" id="meal-info-{{meal_type}}">
                        <div class="meal-info-cell meal-energy"><span id="{{meal_type}}-meal-energy">{{meal_statistic[meal_type]["energy"]}}</span> ккал<br><sub>калорийность</sub></div>
                        <div class="meal-info-cell meal-proteins"><span id="{{meal_type}}-meal-proteins">{{meal_statistic[meal_type]["proteins"]}}</span> г<br><sub>белки</sub></div>
                        <div class="meal-info-cell meal-fats"><span id="{{meal_type}}-meal-fats">{{meal_statistic[meal_type]["fats"]}}</span> г<br><sub>жиры</sub></div>
                        <div class="meal-info-cell meal-carbohydrates"><span id="{{meal_type}}-meal-carbohydrates">{{meal_statistic[meal_type]["carbohydrates"]}}</span> г<br><sub>углеводы</sub></div>
                    </div>
                {% endif %}
                    <div class="meal-buttons">
                        <button onclick="location.href='/add-meal/{{date}}/{{meal_type}}'" id="{{meal_type}}-add-meal-icon"><span class="fa fa-plus"></span></button>
                        {% if meal_type not in names %}
                        <button onclick="RenameMealType('{{meal_type}}')" class="no-display" id="{{meal_type}}-edit-icon"><span class="fa fa-check"></span></button>
                        {% endif %}
                    </div>
                </div>

                <div class="error-center"></div>

                <div class="meal-actions no-display" id="{{meal_type}}-actions">
                    {% if meal_statistic[meal_type]["foods"] %}
                    <div class="meal-action" onclick="ToggleCopyMealType('{{meal_type}}')">
                        <button><span class="fa fa-clone" id="{{meal_type}}-copy-icon"></span></button>
                        <span class="meal-action-name">Копировать приём пищи</span>
                    </div>
                    <div class="meal-action" onclick="MakeTemplateFromMealType('{{meal_type}}')">
                        <button><span class="food-name-group-icon" id="{{meal_type}}-template-icon"></span></button>
                        <span class="meal-action-name">Создать шаблон из приёма пищи</span>
                    </div>
                    {% endif %}
                    {% if meal_type not in names %}
                    <div class="meal-action" onclick="StartRenameMealType('{{meal_type}}')">
                        <button><span class="fa fa-pencil" id="{{meal_type}}-rename-icon"></span></button>
                        <span class="meal-action-name">Переименовать приём пищи</span>
                    </div>
                    {% endif %}
                </div>

                <div class="meal-copy no-display" id="{{meal_type}}-copy">
                    <div class="meal-copy-header">Выберите дату и приём пищи для вставки:</div>
                    <div class="meal-copy-cells">
                        <div class="meal-copy-cell meal-copy-date"><div class="date-picker-fixed" id="{{meal_type}}-copy-date"></div></div>
                        <div class="meal-copy-cell meal-copy-type">
                            <input type="text" list="{{meal_type}}-meal-types" id="{{meal_type}}-copy-meal" value="{{names.get(meal_type, meal_type)}}">
                            <datalist id="{{meal_type}}-meal-types">
                            {% for copy_meal_type in meal_info %}<option value="{{names.get(copy_meal_type, copy_meal_type)}}"></option>{% endfor %}
                            </datalist>
                        </div>
                        <div class="meal-copy-cell meal-copy-icon">
                            <button onclick="CopyMealType('{{meal_type}}', '{{date}}', mealDatePicker{{loop.index}})"><span class="fa fa-check"></span></button>
                        </div>
                    </div>
                    <div class="error-center" id="{{meal_type}}-copy-error"></div>
                </div>

                <div class="foods no-display" id="{{meal_type}}-foods">
                    {% for food_item in meal_statistic[meal_type]["foods"] %}
                    {% if "foods" in food_item %}
                        <div class="food-item-group" id="{{food_item.group_id}}" data-meal-type="{{meal_type}}">
                            <div class="food-item-remove" style="opacity: 0">
                                <div class="food-item-remove-cell">
                                    <span class="fa fa-trash"></span>
                                </div>
                            </div>
                            <div class="food-item-group-data">
                                <div class="food-item-group-name">
                                    <span class="fa food-name-group-icon"></span> {{food_item["name"]}}
                                </div>
                                <div class="food-info">
                                    <div class="food-info-cell food-energy"><span id="group-energy-{{food_item.group_id}}">{{food_item["statistic"].energy}}</span> ккал{% if  food_item.group_portion %} ({{food_item.group_portion}}){% endif %}</div>
                                    <div class="food-info-cell food-proteins"><span id="group-proteins-{{food_item.group_id}}">{{food_item["statistic"].proteins}}</span> г</div>
                                    <div class="food-info-cell food-fats"><span id="group-fats-{{food_item.group_id}}">{{food_item["statistic"].fats}}</span> г</div>
                                    <div class="food-info-cell food-carbohydrates"><span id="group-carbohydrates-{{food_item.group_id}}">{{food_item["statistic"].carbohydrates}}</span> г</div>
                                </div>
                            </div>
                            <div class="group-foods no-display" id="{{meal_type}}-group-foods">
                            {% for food_item in food_item["foods"] %}
                            {% include "meal_food_item.html" %}
                            {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% include "meal_food_item.html" %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="add-meal-type">
        <button id="add-meal-type-button" onclick="CreateMealType()"><span class="fa fa-plus"></span> Добавить приём пищи</button>
        <button class="no-display" id="cancel-add-meal-type-button" onclick="CancelCreateMealType()"><span class="fa fa-ban"></span> Отменить</button>
        <button id="add-limits-button" {% if have_limits %}class="no-display"{% endif %} onclick="AddLimits()"><span class="fa fa-plus"></span> Добавить лимиты</button>
        <button id="remove-limits-button" {% if not have_limits %}class="no-display"{% endif %} onclick="RemoveLimits('{{date}}')"><span class="fa fa-trash"></span> Удалить лимиты</button>
    </div>

    <div class="diary-limits{% if not have_limits %} no-display{% endif %}" id="limits">
        <div class="diary-limits-header">Лимиты</div>
        <div class="diary-limit">
            <span class="diary-limit-name">Калории:</span>
            <span class="input" id="limit-energy" role="textbox" tabindex="-1" contenteditable inputmode="decimal" data-value="{{limits.get('energy', '')}}" onkeydown="KeyDownLimit(event, 'energy')" oninput="StartEditLimit('energy')">{{limits.get('energy', '')}}</span>
            ккал <span class="diary-limit-lost {% if 'energy' not in limits %}no-display{% endif %}">(<span id="limit-lost-energy"></span> ккал)</span>
        </div>
        <div class="error" id="error-energy"></div>

        <div class="diary-limit">
            <span class="diary-limit-name">Белки:</span>
            <span class="input" id="limit-proteins" role="textbox" tabindex="-1" contenteditable inputmode="decimal" data-value="{{limits.get('proteins', '')}}" onkeydown="KeyDownLimit(event, 'proteins')" oninput="StartEditLimit('proteins')">{{limits.get('proteins', '')}}</span>
            г <span class="diary-limit-lost {% if 'proteins' not in limits %}no-display{% endif %}">(<span id="limit-lost-proteins"></span> г)</span>
        </div>
        <div class="error" id="error-proteins"></div>

        <div class="diary-limit">
            <span class="diary-limit-name">Жиры:</span>
            <span class="input" id="limit-fats" role="textbox" tabindex="-1" contenteditable inputmode="decimal" data-value="{{limits.get('fats', '')}}" onkeydown="KeyDownLimit(event, 'fats')" oninput="StartEditLimit('fats')">{{limits.get('fats', '')}}</span>
            г <span class="diary-limit-lost {% if 'fats' not in limits %}no-display{% endif %}">(<span id="limit-lost-fats"></span> г)</span>
        </div>
        <div class="error" id="error-fats"></div>

        <div class="diary-limit">
            <span class="diary-limit-name">Углеводы:</span>
            <span class="input" id="limit-carbohydrates" role="textbox" tabindex="-1" contenteditable inputmode="decimal" data-value="{{limits.get('carbohydrates', '')}}" onkeydown="KeyDownLimit(event, 'carbohydrates')" oninput="StartEditLimit('carbohydrates')">{{limits.get('carbohydrates', '')}}</span>
            г <span class="diary-limit-lost {% if 'carbohydrates' not in limits %}no-display{% endif %}">(<span id="limit-lost-carbohydrates"></span> г)</span>
        </div>
        <div class="error" id="error-carbohydrates"></div>

        <button class="diary-limits-save{% if have_limits %} no-display{% endif %}" id="save-limits-button" onclick="SaveLimits('{{date}}')"><span class="fa fa-save"></span></button>
        <button class="diary-limits-cancel no-display" id="cancel-limits-button" onclick="CancelEditLimits()"><span class="fa fa-ban"></span></button>
        <div class="error-center diary-limits-error" id="error-limits"></div>
    </div>

    <div class="diary-statistic">
        <div class="diary-statistic-info">
            <div class="diary-statistic-row diary-statistic-header">Потребление:</div>
            <div class="diary-statistic-row">Калории: <span id="diary-statistic-energy"></span> ккал</div>
            <div class="diary-statistic-row"><span class="plot-circle chart-color1"></span> Белки: <span id="chart-proteins"></span></div>
            <div class="diary-statistic-row"><span class="plot-circle chart-color2"></span> Жиры: <span id="chart-fats"></span></div>
            <div class="diary-statistic-row"><span class="plot-circle chart-color3"></span> Углеводы: <span id="chart-carbohydrates"></span></div>
        </div>
        <div class="diary-statistic-chart">
            <svg id="diary-chart"></svg>
        </div>
    </div>

    <datalist id="names">
        {% for name in meal_names %}<option value="{{name}}"></option>{% endfor %}
    </datalist>

    <script src="/js/constants.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/limits.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/swipe.js"></script>
    <script src="/js/date_picker.js"></script>

    <script>
        let datePicker = new DatePicker("{{date}}", "date-picker", (date) => location.href = `/diary?date=${date}`, [{% for date in used_dates %}"{{date}}", {% endfor %}])

        {% for meal_type in meal_info %}
        let mealDatePicker{{loop.index}} = new DatePicker("{{copy_date}}", "{{meal_type}}-copy-date", (date) => {
            mealDatePicker{{loop.index}}.SetDate(date)
            mealDatePicker{{loop.index}}.HideCalendar()
        }, null, false)
        {% endfor %}

        function StatEditPortion(foodItem, mealId) {
            if (foodItem.parentNode.parentNode.classList.contains("group-foods"))
                return

            let portionEdit = foodItem.parentNode.getElementsByClassName('food-portion-edit')[0]
            EndEditPortions(portionEdit)
            portionEdit.classList.toggle('no-display')

            let portionSize = document.getElementById(`${mealId}-portion-size`)
            let portionUnit = document.getElementById(`${mealId}-portion-unit`)
            portionSize.value = document.getElementById(`food-portion_size-${mealId}`).innerText
            portionUnit.value = document.getElementById(`food-portion_unit-${mealId}`).innerText
            portionSize.focus()
            portionSize.select()
        }

        function EndEditPortions(ignoreEdit = null) {
            let foodEdits = document.getElementsByClassName('food-portion-edit')

            for (let foodEdit of foodEdits)
                if (foodEdit !== ignoreEdit)
                    foodEdit.classList.add('no-display')
        }

        function EndActions() {
            for (let mealItem of document.getElementsByClassName("meal-item")) {
                let mealType = mealItem.getAttribute("data-meal-type")
                ToggleCopyMealType(mealType, false)
                ToggleMealActions(mealType, false)
                CancelRenameMealType(mealType)
            }
        }

        function ToggleMeal(mealItem, opened = null) {
            EndEditPortions()
            EndActions()

            let actions = mealItem.parentNode.getElementsByClassName('meal-actions')[0]
            actions.classList.add("no-display")

            let foods = mealItem.parentNode.getElementsByClassName('foods')[0]
            let caret = mealItem.getElementsByClassName('meal-caret')

            for (let groupItem of foods.getElementsByClassName("food-item-group-data"))
                ToggleMealGroup(groupItem, false)

            if (opened === null)
                foods.classList.toggle('no-display')
            else if (opened)
                foods.classList.remove('no-display')
            else
                foods.classList.add('no-display')

            if (caret.length != 1)
                return

            if (opened === null) {
                caret[0].classList.toggle('fa-caret-right')
                caret[0].classList.toggle('fa-caret-down')
            }
            else if (opened) {
                caret[0].classList.remove('fa-caret-right')
                caret[0].classList.add('fa-caret-down')
            }
            else {
                caret[0].classList.add('fa-caret-right')
                caret[0].classList.remove('fa-caret-down')
            }
        }

        function ToggleMealGroup(groupItem, opened = null) {
            EndEditPortions()
            let foods = groupItem.parentNode.getElementsByClassName('group-foods')[0]

            if (opened === null)
                foods.classList.toggle('no-display')
            else if (opened)
                foods.classList.remove('no-display')
            else
                foods.classList.add('no-display')

            let caret = groupItem.getElementsByClassName('fa')
            if (opened === null) {
                caret[0].classList.toggle('food-name-group-icon')
                caret[0].classList.toggle('fa-caret-down')
            }
            else if (opened) {
                caret[0].classList.remove('food-name-group-icon')
                caret[0].classList.add('fa-caret-down')
            }
            else {
                caret[0].classList.add('food-name-group-icon')
                caret[0].classList.remove('fa-caret-down')
            }
        }

        function UpdateMealInfoStatistic(mealType, statistic) {
            for (let key of Object.keys(statistic))
                document.getElementById(`${mealType}-meal-${key}`).innerText = statistic[key]

            UpdateChart()
            UpdateLimits()
        }

        function RemoveMealBlock(mealId) {
            let foodItem = document.getElementById(mealId)
            let mealType = foodItem.getAttribute("data-meal-type")
            let foodsBlock = foodItem.parentNode
            let mealFood = null

            foodsBlock.removeChild(foodItem)

            if (foodsBlock.className == "group-foods") {
                if (foodsBlock.children.length > 0)
                    return

                mealFood = foodsBlock.parentNode.parentNode
                foodsBlock.parentNode.parentNode.removeChild(foodsBlock.parentNode)
            }
            else {
                mealFood = foodsBlock
            }

            if (mealFood.children.length == 0) {
                document.getElementById(`meal-info-${mealType}`).classList.add('no-display')
                document.getElementById(`meal-caret-${mealType}`).classList.add('no-display')
                document.getElementById(`${mealType}-copy-icon`).parentNode.classList.add('no-display')
            }
        }

        function UpdateMealStatistic(mealType, statistic) {
            for (let mealId of Object.keys(statistic)) {
                for (key of Object.keys(statistic[mealId])) {
                    let span = document.getElementById(`food-${key}-${mealId}`)

                    if (span === null)
                        span = document.getElementById(`group-${key}-${mealId}`)

                    span.innerText = statistic[mealId][key]
                }
            }

            let foods = document.getElementById(`${mealType}-foods`)

            for (let mealItem of foods.getElementsByClassName('food-item')) {
                let mealId = mealItem.id.replace("food-item-", "")
                if (!(mealId in statistic))
                    RemoveMealBlock(`food-item-${mealId}`)
            }

            for (let groupItem of foods.getElementsByClassName('food-item-group')) {
                let groupId = groupItem.id

                if (!(groupId in statistic))
                    RemoveMealBlock(groupId)
            }
        }

        function RemoveMeal(date, mealType, mealId, withConfirm = true) {
            if (withConfirm && !confirm("Вы уверены, что хотите удалить этот продукт?"))
                return

            SendRequest('/remove-meal', {"date": date, "meal_type": mealType, "meal_id": mealId}).then((response) => {
                if (response.status != "ok") {
                    alert(response.message)
                    location.reload()
                    return
                }

                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function UpdateMeal(date, mealType, mealId) {
            let portionSize = document.getElementById(`${mealId}-portion-size`)
            let portionUnit = document.getElementById(`${mealId}-portion-unit`)
            let portionError = document.getElementById(`${mealId}-portion-error`)
            portionError.innerText = ""

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                portionError.innerText = "Размер порции введён некорректно"
                return
            }

            let data = {
                "date": date,
                "meal_type": mealType,
                "meal_id": mealId,
                "portion_size": portionSize.value,
                "portion_unit": portionUnit.value
            }

            SendRequest('/edit-meal', data).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось обновить порцию...")
                    return
                }

                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function EnterMealType(e, mealType, error, onEnter) {
            error.innerText = ""
            mealType.classList.remove("error")

            if (e.keyCode == 13) {
                e.preventDefault()
                onEnter(mealType)
                return
            }
        }

        function ValidateMealType(mealType) {
            let error = mealType.parentNode.parentNode.getElementsByClassName("error-center")[0]
            let mealTypeName = mealType.value.trim()

            mealType.value = mealTypeName
            error.innerText = ""

            if (mealTypeName.length == 0) {
                error.innerText = "Название приёма пищи не может быть пустым"
                mealType.classList.add("error")
                return null
            }

            for (let mealTypeItem of document.getElementsByClassName("meal-type")) {
                if (mealTypeItem.classList.contains("no-display") || mealTypeItem.tagName == "INPUT")
                    continue

                if (mealTypeItem != mealType && mealTypeItem.innerText.trim() == mealTypeName) {
                    error.innerText = "Нельзя добавить такой приём пищи, так как он уже существует"
                    mealType.classList.add('error')
                    return null
                }
            }

            let chars = GetInvalidMealTypeNameChars(mealTypeName)
            if (chars.length > 0) {
                error.innerText = `В названии приёма пищи присутствуют недопустимые символы (${chars.join('')})`
                mealType.classList.add("error")
                return null
            }

            mealType.classList.remove('error')
            return mealTypeName
        }

        function CreateMealType() {
            let addButton = document.getElementById("add-meal-type-button")
            let cancelButton = document.getElementById("cancel-add-meal-type-button")

            let diary = document.getElementById("diary")
            let mealItem = MakeDiv("meal-item new-meal-item", diary)
            let mealData = MakeDiv("meal-data", mealItem)
            let mealType = MakeInput("text", mealData, {"class": "meal-type"})
            let mealIcon = MakeDiv("meal-buttons", mealData)
            let error = MakeDiv("error-center", mealItem)

            MakeIcon(mealIcon, "fa fa-check", () => AddMealType(mealType))
            mealType.setAttribute("list", "names")
            mealType.setAttribute("placeholder", "Введите название")
            mealType.addEventListener("keydown", (e) => EnterMealType(e, mealType, error, (mealType) => AddMealType(mealType)))
            mealType.focus()

            addButton.classList.add("no-display")
            cancelButton.classList.remove("no-display")

            document.execCommand('selectAll', false)
        }

        function AddMealType(mealType) {
            let mealTypeName = ValidateMealType(mealType)

            if (mealTypeName === null)
                return

            SendRequest("/add-meal-type", {"date": "{{date}}", "meal_type": mealTypeName}).then((response) => {
                if (response.status != "ok")
                    alert(response.message)

                location.reload()
            })
        }

        function CancelCreateMealType() {
            let addButton = document.getElementById("add-meal-type-button")
            let cancelButton = document.getElementById("cancel-add-meal-type-button")
            let diary = document.getElementById("diary")
            let mealItem = document.getElementsByClassName("new-meal-item")[0]

            diary.removeChild(mealItem)
            addButton.classList.remove("no-display")
            cancelButton.classList.add("no-display")
        }

        function StartRenameMealType(mealType) {
            EndActions()

            let originalName = document.getElementById(`${mealType}-name`)
            let editName = document.getElementById(`${mealType}-edit-name`)
            let addIcon = document.getElementById(`${mealType}-add-meal-icon`)
            let editIcon = document.getElementById(`${mealType}-edit-icon`)

            originalName.parentNode.classList.add("no-display")
            editName.classList.remove("no-display")
            editName.value = originalName.innerText
            addIcon.classList.add("no-display")
            editIcon.classList.remove("no-display")
        }

        function RenameMealType(mealType) {
            let originalName = document.getElementById(`${mealType}-name`).innerText
            let editName = document.getElementById(`${mealType}-edit-name`)
            let name = ValidateMealType(editName)

            if (name === null)
                return

            if (name == originalName) {
                CancelRenameMealType(mealType)
                return
            }

            SendRequest("/rename-meal-type", {"date": "{{date}}", "meal_type": originalName, "new_meal_type": name}).then((response) => {
                if (response.status != "ok") {
                    alert(response.message)
                    CancelRenameMealType(mealType)
                    return
                }

                location.reload()
            })
        }

        function CancelRenameMealType(mealType) {
            let editName = document.getElementById(`${mealType}-edit-name`)

            if (editName === null)
                return

            let originalName = document.getElementById(`${mealType}-name`)
            let addIcon = document.getElementById(`${mealType}-add-meal-icon`)
            let editIcon = document.getElementById(`${mealType}-edit-icon`)

            originalName.parentNode.classList.remove("no-display")
            editName.classList.add("no-display")
            addIcon.classList.remove("no-display")
            editIcon.classList.add("no-display")
        }

        function RemoveMealType(mealType) {
            SendRequest("/remove-meal-type", {"date": "{{date}}", "meal_type": mealType}).then((response) => {
                if (response.status != "ok")
                    alert(response.message)

                location.reload()
            })
        }

        function RemoveMealGroup(date, mealType, groupId) {
            SendRequest('/remove-meal-group', {"date": date, "meal_type": mealType, "group_id": groupId}).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось удалить группу...")
                    location.reload()
                    return
                }

                RemoveMealBlock(groupId)
                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function GetTotalStatistic() {
            let statistic = {}

            for (let key of ["energy", "proteins", "fats", "carbohydrates"]) {
                statistic[key] = 0

                for (let mealItem of document.getElementsByClassName("meal-info")) {
                    let mealType = mealItem.id.replace("meal-info-", "")
                    statistic[key] += +document.getElementById(`${mealType}-meal-${key}`).innerText
                }
            }

            return statistic
        }

        function UpdateChart() {
            let keys = ["proteins", "fats", "carbohydrates"]
            let scales = {"proteins": 4, "fats": 9, "carbohydrates": 4}
            let statistic = GetTotalStatistic()
            let total = 0
            let values = []

            for (let key of keys) {
                total += statistic[key] * scales[key]
                values.push(statistic[key] * scales[key])
            }

            let percents = 0

            for (let key of keys) {
                let text = `${Round(statistic[key])} г`
                let percent = Round(statistic[key] * scales[key] / total * 100)
                percents += percent

                if (percents > 100)
                    percent = Round(percent + 100 - percents)

                if (total > 0)
                    text += ` (${percent}%)`

                document.getElementById(`chart-${key}`).innerText = text
            }

            document.getElementById(`diary-statistic-energy`).innerText = Round(statistic["energy"])

            let svg = document.getElementById("diary-chart")
            svg.innerHTML = ''

            if (total > 0) {
                let chart = new Chart()
                chart.Plot(svg, values)
            }
        }

        function RemoveFoodItemOnSwipe(foodItem) {
            let mealType = foodItem.parentNode.getAttribute("data-meal-type")
            let foodId = foodItem.parentNode.getAttribute("data-food-id")
            let mealId = foodItem.parentNode.id.replace("food-item-", "")
            let remove = foodItem.parentNode.getElementsByClassName("food-item-remove")[0]

            let isGroup = foodItem.parentNode.parentNode.classList.contains("group-foods")

            let swipe = new Swipe(foodItem, remove, !isGroup, 0.6, 1000)
            swipe.onStart = () => EndEditPortions()
            swipe.onSwipe = () => RemoveMeal('{{date}}', mealType, mealId, false)
            swipe.onPress = () => location.href = `/edit-food/${foodId}?back_url=${encodeURIComponent(location.href)}`
        }

        function RemoveFoodGroupOnSwipe(groupItem) {
            let mealType = groupItem.parentNode.parentNode.id.replace("-foods", "")
            let groupId = groupItem.parentNode.id
            let remove = groupItem.parentNode.getElementsByClassName("food-item-remove")[0]

            let swipe = new Swipe(groupItem, remove)
            swipe.onStart = () => {
                EndEditPortions()
                ToggleMealGroup(groupItem, false)
            }
            swipe.onSwipe = () => RemoveMealGroup('{{date}}', mealType, groupId, false)
        }

        function RemoveMealOnSwipe(mealData) {
            let mealItem = mealData.parentNode
            let mealType = mealItem.getAttribute("data-meal-type")
            let remove = mealItem.getElementsByClassName("food-item-remove")[0]

            let swipe = new Swipe(mealData, remove, mealData.classList.contains("meal-data-removable"))
            swipe.onStart = () => ToggleMeal(mealData, false)
            swipe.onSwipe = () => RemoveMealType(mealType)
            swipe.onPress = () => {
                ToggleMeal(mealData, false)
                ToggleMealActions(mealType)
            }
        }

        function ToggleMealActions(mealType, opened = null) {
            let mealActions = document.getElementById(`${mealType}-actions`)
            if (mealActions === null || mealActions.children.length == 0)
                return

            if (opened === null)
                mealActions.classList.toggle("no-display")
            else if (opened)
                mealActions.classList.remove("no-display")
            else
                mealActions.classList.add("no-display")
        }

        function ToggleCopyMealType(mealType, opened = null) {
            let copy = document.getElementById(`${mealType}-copy`)
            let icon = document.getElementById(`${mealType}-copy-icon`)
            let error = document.getElementById(`${mealType}-copy-error`)

            if (icon === null)
                return

            error.innerText = ""

            if (opened === null) {
                copy.classList.toggle("no-display")
                icon.classList.toggle("fa-clone")
                icon.classList.toggle("fa-ban")
            }
            else if (opened) {
                copy.classList.remove("no-display")
                icon.classList.remove("fa-clone")
                icon.classList.add("fa-ban")
            }
            else {
                copy.classList.add("no-display")
                icon.classList.add("fa-clone")
                icon.classList.remove("fa-ban")
            }
        }

        function CopyMealType(mealType, date, mealDatePicker) {
            let mealInput = document.getElementById(`${mealType}-copy-meal`)
            let errorDiv = document.getElementById(`${mealType}-copy-error`)

            let pasteDate = ParseDate(mealDatePicker.GetDate())
            let pasteMealType = mealInput.value.trim()
            mealInput.value = pasteMealType

            errorDiv.innerText = ""

            if (pasteDate === null) {
                errorDiv.innerText = "Неверно введена дата"
                return
            }

            if (!IsNotEmptyValue(pasteMealType)) {
                errorDiv.innerText = "Приём пищи не указан"
                mealInput.focus()
                return
            }

            let chars = GetInvalidMealTypeNameChars(pasteMealType)
            if (chars.length > 0) {
                errorDiv.innerText = `В названии приёма пищи присутствуют недопустимые символы (${chars.join('')})`
                mealInput.focus()
                return
            }

            if (pasteMealType in MEAL_TYPES)
                pasteMealType = MEAL_TYPES[pasteMealType]

            let data = {
                date: date,
                meal_type: mealType,
                paste_date: pasteDate,
                paste_meal_type: pasteMealType
            }

            SendRequest("/copy-meal-type", data).then((response) => {
                if (response.status != "ok") {
                    errorDiv.innerText = response.message
                    return
                }

                location.href = `/diary?date=${pasteDate}`
            })
        }

        function MakeTemplateFromMealType(mealType) {
            location.href = `/create-template?date={{date}}&meal_type=${mealType}`
        }

        /****************************************** LIMITS ******************************************/
        function UpdateLimits() {
            let statistic = GetTotalStatistic()

            for (let key of ["energy", "proteins", "fats", "carbohydrates"]) {
                let limit = document.getElementById(`limit-${key}`).innerText.trim()
                let lostSpan = document.getElementById(`limit-lost-${key}`)

                if (limit.length == 0) {
                    lostSpan.parentNode.classList.add("no-display")
                    continue
                }

                let lost = Round(+limit - Round(statistic[key]))
                lostSpan.parentNode.classList.remove("no-display")

                if (lost >= 0)
                    lostSpan.innerText = `ещё ${lost}`
                else
                    lostSpan.innerText = `сверх ${-lost}`
            }
        }

        function StartEditLimit(name) {
            let error = document.getElementById(`error-${name}`)
            let input = document.getElementById(`limit-${name}`)
            let saveButton = document.getElementById("save-limits-button")
            let cancelButton = document.getElementById("cancel-limits-button")

            error.innerText = ""
            input.classList.remove("error")
            saveButton.classList.remove("no-display")
            cancelButton.classList.remove("no-display")
        }

        function CancelEditLimits() {
            for (let name of ["energy", "proteins", "fats", "carbohydrates"]) {
                let input = document.getElementById(`limit-${name}`)
                let error = document.getElementById(`error-${name}`)

                input.innerText = input.getAttribute("data-value")
                input.classList.remove("error")
                error.innerText = ""
            }

            let saveButton = document.getElementById("save-limits-button")
            let cancelButton = document.getElementById("cancel-limits-button")
            saveButton.classList.add("no-display")
            cancelButton.classList.add("no-display")
        }

        function KeyDownLimit(e, name) {
            let input = document.getElementById(`limit-${name}`)

            if (e.keyCode == 13) {
                e.preventDefault()
                input.blur()
            }
        }

        function AddLimits() {
            let limits = document.getElementById("limits")
            let addButton = document.getElementById("add-limits-button")
            let removeButton = document.getElementById("remove-limits-button")

            limits.classList.remove("no-display")
            removeButton.classList.remove("no-display")
            addButton.classList.add("no-display")

            UpdateLimits()
        }

        function RemoveLimits(date) {
            if (!confirm("Вы уверены, что хотите удалить лимиты?"))
                return

            let limits = document.getElementById("limits")
            let addButton = document.getElementById("add-limits-button")
            let removeButton = document.getElementById("remove-limits-button")

            let error = document.getElementById("error-limits")

            SendRequest("/save-limits", {"date": date, "limits": {}}).then((response) => {
                if (response.status != "ok") {
                    error.innerText = response.message
                    return
                }

                error.innerText = ""
                limits.classList.add("no-display")
                removeButton.classList.add("no-display")
                addButton.classList.remove("no-display")
            })
        }

        function SaveLimits(date) {
            let limits = GetLimits()

            if (limits === null)
                return

            let error = document.getElementById("error-limits")
            let saveButton = document.getElementById("save-limits-button")
            let cancelButton = document.getElementById("cancel-limits-button")

            SendRequest("/save-limits", {"date": date, "limits": limits}).then((response) => {
                if (response.status != "ok") {
                    error.innerText = response.message
                    return
                }

                error.innerText = ""
                saveButton.classList.add("no-display")
                cancelButton.classList.add("no-display")
                UpdateLimits()
            })
        }
        /**************************************** END LIMITS ****************************************/

        for (let mealItem of document.getElementsByClassName("meal-data")) {
            mealItem.addEventListener('click', (e) => {
                for (let item of e.composedPath())
                    if (item.tagName == "BUTTON" || item.tagName == "INPUT")
                        return

                ToggleMeal(mealItem)
            })

            RemoveMealOnSwipe(mealItem)

            let mealTypeInput = mealItem.getElementsByClassName("meal-type-input")

            if (mealTypeInput.length == 0)
                continue

            let error = mealTypeInput[0].parentNode.getElementsByClassName("error-center")[0]
            let mealType = mealItem.parentNode.getAttribute("data-meal-type")
            mealTypeInput[0].addEventListener('keydown', (e) => EnterMealType(e, mealTypeInput[0], error, () => RenameMealType(mealType)))
        }

        for (let groupItem of document.getElementsByClassName("food-item-group-data")) {
            groupItem.addEventListener('click', () => ToggleMealGroup(groupItem))
            RemoveFoodGroupOnSwipe(groupItem)
        }

        for (let item of document.getElementsByClassName("food-item-data"))
            RemoveFoodItemOnSwipe(item)

        document.addEventListener('click', (e) => {
            let diary = document.getElementById("diary")
            if (!diary.contains(e.target)) {
                EndEditPortions()
                EndActions()
            }
        })

        UpdateChart()
        UpdateLimits()
    </script>
    {% include "footer.html" %}
</body>
</html>
