<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>Дневник питания | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/plot.css">
    <link rel="stylesheet" type="text/css" href="/styles/date-picker.css">
    <link rel="stylesheet" type="text/css" href="/styles/diary.css">
    <link rel="stylesheet" type="text/css" href="/styles/portion-edit.css">
</head>
<body>
    {% include "menu.html" %}
    {% if user_id %}<button class="sign" onclick="Logout()"><span class="fa fa-sign-out"></span></button>{% endif %}
    <div class="diary" id="diary">
        <div class="diary-date" id="date-picker"></div>

        {% for meal_type, meals in meal_info.items() %}
            <div class="meal-item" data-meal-type="{{meal_type}}">
                {% if meal_type not in names %}
                <div class="food-item-remove" style="opacity: 0">
                    <div class="food-item-remove-cell">
                        <span class="fa fa-trash"></span>
                    </div>
                </div>
                <div class="meal-data meal-data-removable">
                {% else %}
                <div class="meal-data">
                {% endif %}
                    <div class="meal-type">
                        {% if meal_statistic[meal_type]["foods"] %}
                        <span id="meal-caret-{{meal_type}}" class="fa meal-caret fa-caret-right"></span>
                        {% endif %}

                        {% if meal_type in names %}{{names[meal_type]}}{% else %}{{meal_type}}{% endif %}
                    </div>

                {% if meal_statistic[meal_type]["foods"] %}
                    <div class="meal-info" id="meal-info-{{meal_type}}">
                        <div class="meal-info-cell meal-energy"><span id="{{meal_type}}-meal-energy">{{meal_statistic[meal_type]["energy"]}}</span> ккал<br><sub>калорийность</sub></div>
                        <div class="meal-info-cell meal-proteins"><span id="{{meal_type}}-meal-proteins">{{meal_statistic[meal_type]["proteins"]}}</span> г<br><sub>белки</sub></div>
                        <div class="meal-info-cell meal-fats"><span id="{{meal_type}}-meal-fats">{{meal_statistic[meal_type]["fats"]}}</span> г<br><sub>жиры</sub></div>
                        <div class="meal-info-cell meal-carbohydrates"><span id="{{meal_type}}-meal-carbohydrates">{{meal_statistic[meal_type]["carbohydrates"]}}</span> г<br><sub>углеводы</sub></div>
                    </div>
                {% endif %}
                    <div class="meal-buttons">
                        <button onclick="location.href='/add-meal/{{date}}/{{meal_type}}'"><span class="fa fa-plus"></span></button>
                    </div>
                </div>

                <div class="meal-actions no-display" id="{{meal_type}}-actions">
                    {% if meal_statistic[meal_type]["foods"] %}
                    <div class="meal-action">
                        <button onclick="ToggleCopyMealType('{{meal_type}}')"><span class="fa fa-clone" id="{{meal_type}}-copy-icon"></span></button>
                        <span class="meal-action-name">Копировать приём пищи</span>
                    </div>
                    <div class="meal-action">
                        <button onclick="MakeTemplateFromMealType('{{meal_type}}')"><span class="food-name-group-icon" id="{{meal_type}}-template-icon"></span></button>
                        <span class="meal-action-name">Создать шаблон из приёма пищи</span>
                    </div>
                    {% endif %}
                </div>

                <div class="meal-copy no-display" id="{{meal_type}}-copy">
                    <div class="meal-copy-header">Выберите дату и приём пищи для вставки:</div>
                    <div class="meal-copy-cells">
                        <div class="meal-copy-cell meal-copy-date"><input type="text" id="{{meal_type}}-copy-date" value="{{copy_date}}"></div>
                        <div class="meal-copy-cell meal-copy-type">
                            <input type="text" list="{{meal_type}}-meal-types" id="{{meal_type}}-copy-meal" {% if meal_type in names %}value="{{names[meal_type]}}"{% endif %}>
                            <datalist id="{{meal_type}}-meal-types">
                             {% for meal_type, meal_name in names.items() %}{% if meal_type != "other" %}<option value="{{meal_name}}">{{meal_name}}</option>{% endif %}{% endfor %}
                            </datalist>
                        </div>
                        <div class="meal-copy-cell meal-copy-icon">
                            <button onclick="CopyMealType('{{meal_type}}', '{{date}}')"><span class="fa fa-check"></span></button>
                        </div>
                    </div>
                    <div class="error-center" id="{{meal_type}}-copy-error"></div>
                </div>

                <div class="foods no-display" id="{{meal_type}}-foods">
                    {% for food_item in meal_statistic[meal_type]["foods"] %}
                    {% if "foods" in food_item %}
                        <div class="food-item-group" id="{{food_item.group_id}}" data-meal-type="{{meal_type}}">
                            <div class="food-item-remove" style="opacity: 0">
                                <div class="food-item-remove-cell">
                                    <span class="fa fa-trash"></span>
                                </div>
                            </div>
                            <div class="food-item-group-data">
                                <div class="food-item-group-name">
                                    <span class="fa food-name-group-icon"></span> {{food_item["name"]}}
                                </div>
                                <div class="food-info">
                                    <div class="food-info-cell food-energy"><span id="group-energy-{{food_item.group_id}}">{{food_item["statistic"].energy}}</span> ккал</div>
                                    <div class="food-info-cell food-proteins"><span id="group-proteins-{{food_item.group_id}}">{{food_item["statistic"].proteins}}</span> г</div>
                                    <div class="food-info-cell food-fats"><span id="group-fats-{{food_item.group_id}}">{{food_item["statistic"].fats}}</span> г</div>
                                    <div class="food-info-cell food-carbohydrates"><span id="group-carbohydrates-{{food_item.group_id}}">{{food_item["statistic"].carbohydrates}}</span> г</div>
                                </div>
                            </div>
                            <div class="group-foods no-display" id="{{meal_type}}-group-foods">
                            {% for food_item in food_item["foods"] %}
                            {% include "meal_food_item.html" %}
                            {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% include "meal_food_item.html" %}
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="add-meal-type">
        <button id="add-meal-type-button" onclick="CreateMealType()"><span class="fa fa-plus"></span> Добавить приём пищи</button>
        <button class="no-display" id="cancel-add-meal-type-button" onclick="CancelCreateMealType()"><span class="fa fa-ban"></span> Отменить</button>
    </div>

    <div class="diary-statistic">
        <div class="diary-statistic-info">
            <div class="diary-statistic-row"><b>Суточное потребление:</b></div>
            <div class="diary-statistic-row"><span class="plot-circle chart-color1"></span> Белки: <span id="chart-proteins"></span></div>
            <div class="diary-statistic-row"><span class="plot-circle chart-color2"></span> Жиры: <span id="chart-fats"></span></div>
            <div class="diary-statistic-row"><span class="plot-circle chart-color3"></span> Углеводы: <span id="chart-carbohydrates"></span></div>
            <div class="diary-statistic-row">Калории: <span id="diary-statistic-energy"></span> ккал</div>
        </div>
        <div class="diary-statistic-chart">
            <svg id="diary-chart"></svg>
        </div>
    </div>

    <script src="/js/constants.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/swipe.js"></script>
    <script src="/js/date_picker.js"></script>

    <script>
        let datePicker = new DatePicker("{{date}}", "date-picker", (date) => location.href = `/diary?date=${date}`, [{% for date in used_dates %}"{{date}}", {% endfor %}])

        function StatEditPortion(foodItem, mealId) {
            let portionEdit = foodItem.parentNode.getElementsByClassName('food-portion-edit')[0]
            EndEditPortions(portionEdit)
            portionEdit.classList.toggle('no-display')

            let portionSize = document.getElementById(`${mealId}-portion-size`)
            let portionUnit = document.getElementById(`${mealId}-portion-unit`)
            portionSize.value = document.getElementById(`food-portion_size-${mealId}`).innerText
            portionUnit.value = document.getElementById(`food-portion_unit-${mealId}`).innerText
            portionSize.focus()
            portionSize.select()
        }

        function EndEditPortions(ignoreEdit = null) {
            let foodEdits = document.getElementsByClassName('food-portion-edit')

            for (let foodEdit of foodEdits)
                if (foodEdit !== ignoreEdit)
                    foodEdit.classList.add('no-display')
        }

        function EndActions() {
            for (let mealItem of document.getElementsByClassName("meal-item")) {
                let mealType = mealItem.getAttribute("data-meal-type")
                ToggleCopyMealType(mealType, false)
                ToggleMealActions(mealType, false)
            }
        }

        function ToggleMeal(mealItem, opened = null) {
            EndEditPortions()
            EndActions()

            let actions = mealItem.parentNode.getElementsByClassName('meal-actions')[0]
            actions.classList.add("no-display")

            let foods = mealItem.parentNode.getElementsByClassName('foods')[0]
            let caret = mealItem.getElementsByClassName('meal-caret')

            if (opened === null)
                foods.classList.toggle('no-display')
            else if (opened)
                foods.classList.remove('no-display')
            else
                foods.classList.add('no-display')

            if (caret.length != 1)
                return

            if (opened === null) {
                caret[0].classList.toggle('fa-caret-right')
                caret[0].classList.toggle('fa-caret-down')
            }
            else if (opened) {
                caret[0].classList.remove('fa-caret-right')
                caret[0].classList.add('fa-caret-down')
            }
            else {
                caret[0].classList.add('fa-caret-right')
                caret[0].classList.remove('fa-caret-down')
            }
        }

        function ToggleMealGroup(groupItem, opened = null) {
            EndEditPortions()
            let foods = groupItem.parentNode.getElementsByClassName('group-foods')[0]

            if (opened === null)
                foods.classList.toggle('no-display')
            else if (opened)
                foods.classList.remove('no-display')
            else
                foods.classList.add('no-display')

            let caret = groupItem.getElementsByClassName('fa')
            if (opened === null) {
                caret[0].classList.toggle('food-name-group-icon')
                caret[0].classList.toggle('fa-caret-down')
            }
            else if (opened) {
                caret[0].classList.remove('food-name-group-icon')
                caret[0].classList.add('fa-caret-down')
            }
            else {
                caret[0].classList.add('food-name-group-icon')
                caret[0].classList.remove('fa-caret-down')
            }
        }

        function UpdateMealInfoStatistic(mealType, statistic) {
            for (let key of Object.keys(statistic))
                document.getElementById(`${mealType}-meal-${key}`).innerText = statistic[key]

            UpdateChart()
        }

        function RemoveMealBlock(mealId) {
            let foodItem = document.getElementById(mealId)
            let mealType = foodItem.getAttribute("data-meal-type")
            let foodsBlock = foodItem.parentNode
            let mealFood = null

            foodsBlock.removeChild(foodItem)

            if (foodsBlock.className == "group-foods") {
                if (foodsBlock.children.length > 0)
                    return

                mealFood = foodsBlock.parentNode.parentNode
                foodsBlock.parentNode.parentNode.removeChild(foodsBlock.parentNode)
            }
            else {
                mealFood = foodsBlock
            }

            if (mealFood.children.length == 0) {
                document.getElementById(`meal-info-${mealType}`).classList.add('no-display')
                document.getElementById(`meal-caret-${mealType}`).classList.add('no-display')
                document.getElementById(`${mealType}-copy-icon`).parentNode.classList.add('no-display')
            }
        }

        function UpdateMealStatistic(mealType, statistic) {
            for (let mealId of Object.keys(statistic)) {
                for (key of Object.keys(statistic[mealId])) {
                    let span = document.getElementById(`food-${key}-${mealId}`)

                    if (span === null)
                        span = document.getElementById(`group-${key}-${mealId}`)

                    span.innerText = statistic[mealId][key]
                }
            }

            let foods = document.getElementById(`${mealType}-foods`)

            for (let mealItem of foods.getElementsByClassName('food-item')) {
                let mealId = mealItem.id.replace("food-item-", "")
                if (!(mealId in statistic))
                    RemoveMealBlock(`food-item-${mealId}`)
            }

            for (let groupItem of foods.getElementsByClassName('food-item-group')) {
                let groupId = groupItem.id

                if (!(groupId in statistic))
                    RemoveMealBlock(groupId)
            }
        }

        function RemoveMeal(date, mealType, mealId, withConfirm = true) {
            if (withConfirm && !confirm("Вы уверены, что хотите удалить этот продукт?"))
                return

            SendRequest('/remove-meal', {"date": date, "meal_type": mealType, "meal_id": mealId}).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось удалить продукт...")
                    location.reload()
                    return
                }

                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function UpdateMeal(date, mealType, mealId) {
            let portionSize = document.getElementById(`${mealId}-portion-size`)
            let portionUnit = document.getElementById(`${mealId}-portion-unit`)
            let portionError = document.getElementById(`${mealId}-portion-error`)
            portionError.innerText = ""

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                portionError.innerText = "Размер порции введён некорректно"
                return
            }

            let data = {
                "date": date,
                "meal_type": mealType,
                "meal_id": mealId,
                "portion_size": portionSize.value,
                "portion_unit": portionUnit.value
            }

            SendRequest('/edit-meal', data).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось обновить порцию...")
                    return
                }

                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function EnterMealType(e, mealType, error) {
            error.innerText = ""
            mealType.classList.remove("error")

            if (e.keyCode == 13) {
                e.preventDefault()
                ValidateMealType(mealType)
                return
            }
        }

        function ValidateMealType(mealType) {
            let error = mealType.parentNode.parentNode.getElementsByClassName("error-center")[0]
            let mealTypeName = mealType.innerText.trim()

            mealType.innerText = mealTypeName
            error.innerText = ""

            for (let mealTypeItem of document.getElementsByClassName("meal-type")) {
                if (mealTypeItem != mealType && mealTypeItem.innerText.trim() == mealTypeName) {
                    error.innerText = "Нельзя добавить такой приём пищи, так как он уже существует"
                    mealType.classList.add('error')
                    return
                }
            }

            let chars = GetInvalidMealTypeNameChars(mealTypeName)
            if (chars.length > 0) {
                error.innerText = `В названии приёма пищи присутствуют недопустимые символы (${chars.join('')})`
                mealType.classList.add("error")
                return
            }

            mealType.classList.remove('error')
            mealType.removeAttribute("contenteditable")

            SendRequest("/add-meal-type", {"date": "{{date}}", "meal_type": mealTypeName}).then((response) => {
                if (response.status != "ok")
                    alert("Не удалось добавить приём пищи")

                location.reload()
            })
        }

        function CreateMealType() {
            let addButton = document.getElementById("add-meal-type-button")
            let cancelButton = document.getElementById("cancel-add-meal-type-button")

            let diary = document.getElementById("diary")
            let mealItem = MakeDiv("meal-item new-meal-item", diary)
            let mealData = MakeDiv("meal-data", mealItem)
            let mealType = MakeDiv("meal-type", mealData)
            let mealIcon = MakeDiv("meal-buttons", mealData)
            let error = MakeDiv("error-center", mealItem)

            MakeIcon(mealIcon, "fa fa-check", () => ValidateMealType(mealType))
            mealType.setAttribute("contenteditable", "")
            mealType.innerText = "Введите название"
            mealType.addEventListener("keydown", (e) => EnterMealType(e, mealType, error))
            mealType.focus()

            addButton.classList.add("no-display")
            cancelButton.classList.remove("no-display")

            document.execCommand('selectAll', false)
        }

        function CancelCreateMealType() {
            let addButton = document.getElementById("add-meal-type-button")
            let cancelButton = document.getElementById("cancel-add-meal-type-button")
            let diary = document.getElementById("diary")
            let mealItem = document.getElementsByClassName("new-meal-item")[0]

            diary.removeChild(mealItem)
            addButton.classList.remove("no-display")
            cancelButton.classList.add("no-display")
        }

        function RemoveMealType(mealType) {
            SendRequest("/remove-meal-type", {"date": "{{date}}", "meal_type": mealType}).then((response) => {
                if (response.status != "ok")
                    alert("Не удалось удалить приём пищи")

                location.reload()
            })
        }

        function RemoveMealGroup(date, mealType, groupId) {
            SendRequest('/remove-meal-group', {"date": date, "meal_type": mealType, "group_id": groupId}).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось удалить группу...")
                    location.reload()
                    return
                }

                RemoveMealBlock(groupId)
                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function UpdateChart() {
            let keys = ["proteins", "fats", "carbohydrates"]
            let values = [0, 0, 0]
            let energy = 0
            let total = 0

            for (let mealItem of document.getElementsByClassName("meal-info")) {
                mealType = mealItem.id.replace("meal-info-", "")

                for (let i = 0; i < keys.length; i++) {
                    let value = +document.getElementById(`${mealType}-meal-${keys[i]}`).innerText
                    values[i] += value
                    total += value
                }

                energy += +document.getElementById(`${mealType}-meal-energy`).innerText
            }

            let percents = 0

            for (let i = 0; i < keys.length; i++) {
                let text = `${values[i]} г`
                let percent = Math.round(values[i] / total * 100)
                percents += percent

                if (percents > 100)
                    percent = Math.round(percent + 100 - percents)

                if (total > 0)
                    text += ` (${percent}%)`

                document.getElementById(`chart-${keys[i]}`).innerText = text
            }

            document.getElementById(`diary-statistic-energy`).innerText = energy

            let svg = document.getElementById("diary-chart")
            svg.innerHTML = ''

            if (total > 0) {
                let chart = new Chart()
                chart.Plot(svg, values)
            }
        }

        function RemoveFoodItemOnSwipe(foodItem) {
            let mealType = foodItem.parentNode.getAttribute("data-meal-type")
            let mealId = foodItem.parentNode.id.replace("food-item-", "")
            let remove = foodItem.parentNode.getElementsByClassName("food-item-remove")[0]

            let swipe = new Swipe(foodItem, remove)
            swipe.onStart = () => EndEditPortions()
            swipe.onSwipe = () => RemoveMeal('{{date}}', mealType, mealId, false)
        }

        function RemoveFoodGroupOnSwipe(groupItem) {
            let mealType = groupItem.parentNode.parentNode.id.replace("-foods", "")
            let groupId = groupItem.parentNode.id
            let remove = groupItem.parentNode.getElementsByClassName("food-item-remove")[0]

            let swipe = new Swipe(groupItem, remove)
            swipe.onStart = () => {
                EndEditPortions()
                ToggleMealGroup(groupItem, false)
            }
            swipe.onSwipe = () => RemoveMealGroup('{{date}}', mealType, groupId, false)
        }

        function RemoveMealOnSwipe(mealData) {
            let mealItem = mealData.parentNode
            let mealType = mealItem.getAttribute("data-meal-type")
            let remove = mealItem.getElementsByClassName("food-item-remove")[0]

            let swipe = new Swipe(mealData, remove, mealData.classList.contains("meal-data-removable"))
            swipe.onStart = () => ToggleMeal(mealData, false)
            swipe.onSwipe = () => RemoveMealType(mealType)
            swipe.onPress = () => {
                ToggleMeal(mealData, false)
                ToggleMealActions(mealType)
            }
        }

        function ToggleMealActions(mealType, opened = null) {
            let mealActions = document.getElementById(`${mealType}-actions`)
            if (mealActions.children.length == 0)
                return

            if (opened === null)
                mealActions.classList.toggle("no-display")
            else if (opened)
                mealActions.classList.remove("no-display")
            else
                mealActions.classList.add("no-display")
        }

        function ToggleCopyMealType(mealType, opened = null) {
            let copy = document.getElementById(`${mealType}-copy`)
            let icon = document.getElementById(`${mealType}-copy-icon`)

            if (icon === null)
                return

            if (opened === null) {
                copy.classList.toggle("no-display")
                icon.classList.toggle("fa-clone")
                icon.classList.toggle("fa-ban")
            }
            else if (opened) {
                copy.classList.remove("no-display")
                icon.classList.remove("fa-clone")
                icon.classList.add("fa-ban")
            }
            else {
                copy.classList.add("no-display")
                icon.classList.add("fa-clone")
                icon.classList.remove("fa-ban")
            }
        }

        function CopyMealType(mealType, date) {
            let dateInput = document.getElementById(`${mealType}-copy-date`)
            let mealInput = document.getElementById(`${mealType}-copy-meal`)
            let errorDiv = document.getElementById(`${mealType}-copy-error`)

            let pasteDate = ParseDate(dateInput.value)
            let pasteMealType = mealInput.value.trim()
            mealInput.value = pasteMealType

            errorDiv.innerText = ""

            if (pasteDate === null) {
                errorDiv.innerText = "Неверно введена дата"
                dateInput.focus()
                return
            }

            if (!IsNotEmptyValue(pasteMealType)) {
                errorDiv.innerText = "Приём пищи не указан"
                mealInput.focus()
                return
            }

            let chars = GetInvalidMealTypeNameChars(pasteMealType)
            if (chars.length > 0) {
                errorDiv.innerText = `В названии приёма пищи присутствуют недопустимые символы (${chars.join('')})`
                mealInput.focus()
                return
            }

            if (pasteMealType in MEAL_TYPES)
                pasteMealType = MEAL_TYPES[pasteMealType]

            let data = {
                date: date,
                meal_type: mealType,
                paste_date: pasteDate,
                paste_meal_type: pasteMealType
            }

            SendRequest("/copy-meal-type", data).then((response) => {
                if (response.status != "ok") {
                    errorDiv.innerText = response.message
                    return
                }

                location.href = `/diary?date=${pasteDate}`
            })
        }

        function MakeTemplateFromMealType(mealType) {
            location.href = `/create-template?date={{date}}&meal_type=${mealType}`
        }

        for (let mealItem of document.getElementsByClassName("meal-data")) {
            mealItem.addEventListener('click', (e) => {
                for (let item of e.composedPath())
                    if (item.tagName == "BUTTON")
                        return

                ToggleMeal(mealItem)
            })

            RemoveMealOnSwipe(mealItem)
        }

        for (let groupItem of document.getElementsByClassName("food-item-group-data")) {
            groupItem.addEventListener('click', () => ToggleMealGroup(groupItem))
            RemoveFoodGroupOnSwipe(groupItem)
        }

        for (let item of document.getElementsByClassName("food-item-data"))
            RemoveFoodItemOnSwipe(item)

        document.addEventListener('click', (e) => {
            let diary = document.getElementById("diary")
            if (!diary.contains(e.target)) {
                EndEditPortions()
                EndActions()
            }
        })

        UpdateChart()
    </script>
    {% include "footer.html" %}
</body>
</html>
