<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Дневник питания | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/diary.css">
    <link rel="stylesheet" type="text/css" href="/styles/portion-edit.css?v=2">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
</head>
<body>
    {% include "menu.html" %}
    <div class="diary">
        <div class="diary-date">
            {{date}}
        </div>

        {% for meal_type, meals in meal_info.items() %}
            <div class="meal-item">
                <div class="meal-data">
                    <div class="meal-type">
                        {% if meal_statistic[meal_type]["foods"] %}
                        <span id="meal-caret-{{meal_type}}" class="fa fa-caret-right"></span>
                        {% endif %}
                        {{names[meal_type].title()}}
                    </div>

                {% if meal_statistic[meal_type]["foods"] %}
                    <div class="meal-info" id="meal-info-{{meal_type}}">
                        <div class="meal-info-cell meal-energy"><span id="{{meal_type}}-meal-energy">{{meal_statistic[meal_type]["energy"]}}</span> ккал<br><sub>калорийность</sub></div>
                        <div class="meal-info-cell meal-proteins"><span id="{{meal_type}}-meal-proteins">{{meal_statistic[meal_type]["proteins"]}}</span> г<br><sub>белки</sub></div>
                        <div class="meal-info-cell meal-fats"><span id="{{meal_type}}-meal-fats">{{meal_statistic[meal_type]["fats"]}}</span> г<br><sub>жиры</sub></div>
                        <div class="meal-info-cell meal-carbohydrates"><span id="{{meal_type}}-meal-carbohydrates">{{meal_statistic[meal_type]["carbohydrates"]}}</span> г<br><sub>углеводы</sub></div>
                    </div>
                {% endif %}
                </div>

                <div class="meal-add"><button onclick="location.href='/add-meal/{{date}}/{{meal_type}}'">+</button></div>

                <div class="foods no-display" id="{{meal_type}}-foods">
                    {% for food_item in meal_statistic[meal_type]["foods"] %}
                    <div class="food-item" id="food-item-{{food_item.meal_id}}">
                        <div class="food-item-data" onclick="StatEditPortion(this, '{{food_item.meal_id}}')">
                            <div class="food-name">{{food_item.food_item.name}}</div>
                            <div class="food-info">
                                <div class="food-info-cell food-energy">
                                    <span id="food-energy-{{food_item.meal_id}}">{{food_item.energy}}</span> ккал
                                    (<span id="food-portion_size-{{food_item.meal_id}}">{{food_item.portion_size}}</span>
                                    <span id="food-portion_unit-{{food_item.meal_id}}">{{food_item.portion_unit}}</span>)</div>
                                <div class="food-info-cell food-proteins"><span id="food-proteins-{{food_item.meal_id}}">{{food_item.proteins}}</span> г</div>
                                <div class="food-info-cell food-fats"><span id="food-fats-{{food_item.meal_id}}">{{food_item.fats}}</span> г</div>
                                <div class="food-info-cell food-carbohydrates"><span id="food-carbohydrates-{{food_item.meal_id}}">{{food_item.carbohydrates}}</span> г</div>
                            </div>
                        </div>
                        <div class="food-portion-edit no-display">
                            <div class="food-portion-text">Редактирование порции:</div>
                            <div class="food-portion-control">
                                <div class="food-portion-size">
                                    <input id="{{food_item.meal_id}}-portion-size" type="number" value="{{food_item.portion_size}}">
                                </div>

                                <div class="food-portion-unit">
                                    <select id="{{food_item.meal_id}}-portion-unit">
                                        {% for unit in food_item.food_item.conversions %}
                                        <option value="{{unit}}">{{unit}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="food-portion-change">
                                    <button onclick="UpdateMeal('{{date}}', '{{meal_type}}', '{{food_item.meal_id}}')">
                                        <span class="fa fa-check"></span>
                                    </button>
                                    <button onclick="RemoveMeal('{{date}}', '{{meal_type}}', '{{food_item.meal_id}}')">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

    <script src="/js/forms.js"></script>
    <script>
        function StatEditPortion(foodItem, mealId) {
            let portionEdit = foodItem.parentNode.getElementsByClassName('food-portion-edit')[0]
            EndEditPortions(portionEdit)
            portionEdit.classList.toggle('no-display')

            let portionSize = document.getElementById(`${mealId}-portion-size`)
            let portionUnit = document.getElementById(`${mealId}-portion-unit`)
            portionSize.value = document.getElementById(`food-portion_size-${mealId}`).innerText
            portionUnit.value = document.getElementById(`food-portion_unit-${mealId}`).innerText
            portionSize.focus()
            portionSize.select()
        }

        function EndEditPortions(ignoreEdit = null) {
            let foodEdits = document.getElementsByClassName('food-portion-edit')

            for (let foodEdit of foodEdits)
                if (foodEdit !== ignoreEdit)
                    foodEdit.classList.add('no-display')
        }

        function UpdateMealInfoStatistic(mealType, statistic) {
            for (let key of Object.keys(statistic))
                document.getElementById(`${mealType}-meal-${key}`).innerText = statistic[key]
        }

        function RemoveMealBlock(mealId) {
            let foodItem = document.getElementById(`food-item-${mealId}`)
            let mealFood = foodItem.parentNode
            let mealType = mealFood.id.replace(/food-|-foods/g, "")
            mealFood.removeChild(foodItem)

            if (mealFood.children.length == 0) {
                document.getElementById(`meal-info-${mealType}`).classList.add('no-display')
                document.getElementById(`meal-caret-${mealType}`).classList.add('no-display')
            }
        }

        function UpdateMealStatistic(mealType, statistic) {
            for (let mealId of Object.keys(statistic))
                for (key of Object.keys(statistic[mealId]))
                    document.getElementById(`food-${key}-${mealId}`).innerText = statistic[mealId][key]

            let foods = document.getElementById(`${mealType}-foods`)

            for (let mealItem of foods.getElementsByClassName('food-item')) {
                let mealId = mealItem.id.replace("food-item-", "")
                if (!(mealId in statistic))
                    RemoveMealBlock(mealId)
            }
        }

        function RemoveMeal(date, mealType, mealId) {
            if (!confirm("Вы уверены, что хотите удалить этот продукт?"))
                return

            SendRequest('/remove-meal', {"date": date, "meal_type": mealType, "meal_id": mealId}).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось удалить продукт...")
                    return
                }

                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        function UpdateMeal(date, mealType, mealId) {
            let portionSize = document.getElementById(`${mealId}-portion-size`)
            let portionUnit = document.getElementById(`${mealId}-portion-unit`)

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                alert("Размер порции введён некорректно")
                return
            }

            let data = {
                "date": date,
                "meal_type": mealType,
                "meal_id": mealId,
                "portion_size": portionSize.value,
                "portion_unit": portionUnit.value
            }

            SendRequest('/edit-meal', data).then((response) => {
                if (response.status != "ok") {
                    alert("Не удалось обновить порцию...")
                    return
                }

                EndEditPortions()
                UpdateMealInfoStatistic(mealType, response.statistic)
                UpdateMealStatistic(mealType, response.meal_statistic)
            })
        }

        for (let mealItem of document.getElementsByClassName('meal-data')) {
            mealItem.addEventListener('click', () => {
                EndEditPortions()
                let foods = mealItem.parentNode.getElementsByClassName('foods')[0]
                foods.classList.toggle('no-display')

                let caret = mealItem.getElementsByClassName('fa')
                if (caret.length == 1) {
                    caret[0].classList.toggle('fa-caret-right')
                    caret[0].classList.toggle('fa-caret-down')
                }

            })
        }
    </script>
</body>
</html>
