<div class="food-item" id="{{food_item._id}}">
    {% if "meal_items" in food_item %}
    <div class="food-data" onclick="ClickTemplateItem('{{food_item._id}}')">
        <div class="food-name">{{food_item.name}} (шаблон)</div>
    {% else %}
    <div class="food-data" onclick="ClickFoodItem('{{food_item._id}}')">
        <div class="food-name">{{food_item.name}}</div>
    {% endif %}
        <div class="food-description">{{food_item.description}}</div>
        <div class="food-info">
            <div class="food-info-cell food-energy">{{food_item.energy}} ккал{% if "meal_items" not in food_item %} / {{food_item.portion}}{% endif %}</div>
            <div class="food-info-cell food-proteins">Б{{food_item.proteins}} г</div>
            <div class="food-info-cell food-fats">Ж{{food_item.fats}} г</div>
            <div class="food-info-cell food-carbohydrates">У{{food_item.carbohydrates}} г</div>
        </div>
    </div>

    {% if date and meal_type %}
    {% if "meal_items" in food_item %}
    <div class="food-portion-edit no-display" data-default-value="1">
    {% else %}
    <div class="food-portion-edit no-display" data-default-unit="{{food_item.default_unit}}" data-default-value="{{food_item.default_value}}">
    {% endif %}
        <div class="food-portion-text">Редактирование порции:</div>
        <div class="food-portion-control">
            <div class="food-portion-size">
                <input id="{{food_item._id}}-portion-size" type="number" value="{{food_item.default_value}}">
            </div>

            {% if "meal_items" not in food_item %}
            <div class="food-portion-unit">
                <select id="{{food_item._id}}-portion-unit">
                    {% for unit in food_item.conversions %}
                    <option value="{{unit}}" {% if food_item.default_unit == unit %}selected{% endif %}>{{unit}}</option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="food-portion-change">
                {% if "meal_items" in food_item %}
                <button onclick="AddMealTemplate('{{date}}', '{{meal_type}}', '{{food_item._id}}')">
                {% else %}
                <button onclick="AddMeal('{{date}}', '{{meal_type}}', '{{food_item._id}}')">
                {% endif %}
                    <span class="fa fa-plus"></span>
                </button>
            </div>
        </div>
        <div class="error-center" id="{{food_item._id}}-portion-error"></div>
    </div>
    {% endif %}
</div>