<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>{% if date and meal_type %}{{date}}. Добавление еды на {{names[meal_type]}}{% else %}Коллекция продуктов{% endif %} | HELL</title>

    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/food-search.css">
    <link rel="stylesheet" type="text/css" href="/styles/food-item.css">
    <link rel="stylesheet" type="text/css" href="/styles/portion-edit.css">
</head>
<body>
    {% include "menu.html" %}
    {% if user_id %}
    <button class="sign" onclick="Logout()"><span class="fa fa-sign-out"></span></button>
    {% else %}
    <button class="sign" onclick="Login()"><span class="fa fa-sign-in"></span></button>
    {% endif %}
    <h2>{% if date and meal_type %}{% if meal_type in names %}{{names[meal_type]}}{% else %}{{meal_type}}{% endif %} {{date}}{% else %}Продукты{% endif %}</h2>

    <form class="food-search" method="get" action="{% if date and meal_type %}/add-meal/{{date}}/{{meal_type}}{% else %}/food-collection{% endif %}">
        <div class="food-search-clear{%if query %} food-search-clear-show{% endif %}" id="food-query-clear" onclick="ClearQuery()">
            <span class="fa fa-times">
        </div>

        <div class="food-search-input">
            <input type="text" name="food_query" id="food-query" oninput="UpdateClearQuery()" class="search-input" placeholder="Введите название продукта или шаблона" {% if query %}value="{{query}}"{% endif %}>
        </div>

        <div class="food-search-button">
            <button type="submit" id="submit"><span class="fa fa-search"></span></button>
        </div>
    </form>

    <div class="food-search-results" id="food-search-results">
        {% if food_items == [] %}
            {% if query %}
            <p>По запросу <i>"{{query.replace("<", "&lt;").replace(">", "&gt;")}}"</i> продуктов не найдено...</p>
            <p>Если Вы уверены, что продукт должен быть, нажмите кнопку ниже:</p>
            {% elif frequent_food_items %}
            <div class="frequent-food">
                {% for food_item in frequent_food_items %}{% include "food_item.html" %}{% endfor %}
            </div>
            </div>
            {% endif %}
        {% else %}

            {% for food_item in food_items %}{% include "food_item.html" %}{% endfor %}
        {% endif %}
        </div>

        <div class="center">
            <button onclick="location.href='/add-food?{% if query %}food_query={{query.replace("'", "\\'")}}&{% endif %}{% if date and meal_type %}date={{date}}&meal_type={{meal_type}}{% endif %}';"><span class="fa fa-plus"></span> Добавить продукт</button>

            <button onclick="location.href='/add-template?{% if query %}food_query={{query.replace("'", "\\'")}}&{% endif %}{% if date and meal_type %}date={{date}}&meal_type={{meal_type}}{% endif %}';"><span class="fa fa-plus"></span> Добавить шаблон</button>
        </div>

        <div class="food-search-info">
            <b>Как искать?</b><br>
            Сейчас поиск использует обычное регулярное выражение из экранированного запроса. Однако есть дополнительные опции:<br>
            <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('<F>')">&lt;F&gt;</a></b> — показать все продукты;</div>
            {% if user_id %}
            <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('<T>')">&lt;T&gt;</a></b> — показать все доступные шаблоны;</div>
            <div class="food-search-info-list"><b><a href="#" onclick="SetQuery('<t>')">&lt;t&gt;</a></b> — показать все созданные шаблоны;</div>
            {% endif %}

            <div class="food-search-info-list">Я постараюсь в ближайшее время сделать поиск более умным и удобным.</div>
        </div>
    </div>

    <script src="/js/forms.js"></script>
    <script src="/js/food_collection.js"></script>
    <script>
        function ClickFoodItem(foodId) {
        {% if date and meal_type %}
            TogglePortionEdit(foodId)
        {% else %}
            location.href = `/edit-food/${foodId}{% if query %}?food_query={{query.replace("'", "\\'")}}{% endif %}`
        {% endif %}
        }

        function ClickTemplateItem(templateId) {
        {% if date and meal_type %}
            TogglePortionEdit(templateId)
        {% else %}
            location.href = `/edit-template/${templateId}{% if query %}?food_query={{query.replace("'", "\\'")}}{% endif %}`
        {% endif %}
        }

        function SetQuery(query) {
            let queryInput = document.getElementById("food-query")
            let submit = document.getElementById("submit")
            queryInput.value = query
            submit.click()
        }

        {% if date and meal_type %}
        function AddMeal(date, mealType, foodId) {
            let portionSize = document.getElementById(`${foodId}-portion-size`)
            let portionUnit = document.getElementById(`${foodId}-portion-unit`)
            let portionError = document.getElementById(`${foodId}-portion-error`)

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                portionError.innerText = "Размер порции введён некорректно"
                return
            }

            let data = {
                date: date,
                meal_type: mealType,
                food_id: foodId,
                portion_size: portionSize.value,
                portion_unit: portionUnit.value
            }

            SendRequest("/add-meal", data).then((response) => {
                if (response.status != "ok") {
                    alert(response.message)
                    return
                }

                location.href = `/diary?date={{date}}`
            })
        }

        function AddMealTemplate(date, mealType, templateId) {
            let portionSize = document.getElementById(`${templateId}-portion-size`)
            let portionError = document.getElementById(`${templateId}-portion-error`)

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                portionError.innerText = "Размер порции введён некорректно"
                return
            }

            let data = {
                date: date,
                meal_type: mealType,
                template_id: templateId,
                portion_size: portionSize.value,
            }

            SendRequest("/add-meal-template", data).then((response) => {
                if (response.status != "ok") {
                    alert(response.message)
                    return
                }

                location.href = `/diary?date={{date}}`
            })
        }
        {% endif %}
    </script>
    {% include "footer.html" %}
</body>
</html>
