<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>{% if date and meal_type %}{{date}}. Добавление еды на {{names[meal_type]}}{% else %}Коллекция продуктов{% endif %} | HELL</title>

    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/food-search.css">
    <link rel="stylesheet" type="text/css" href="/styles/food-item.css">
    <link rel="stylesheet" type="text/css" href="/styles/portion-edit.css">
    <link rel="stylesheet" type="text/css" href="/styles/food-collection.css">
</head>
<body>
    {% include "menu.html" %}
    <h1>{% if date and meal_type %}{% if meal_type in names %}{{names[meal_type]}}{% else %}{{meal_type}}{% endif %} {{date}}{% else %}Продукты{% endif %}</h1>

    <form class="food-search" method="get" action="{% if date and meal_type %}/add-meal/{{date}}/{{meal_type}}{% else %}/food-collection{% endif %}">
        <div class="food-search-clear{%if query %} food-search-clear-show{% endif %}" id="food-query-clear" onclick="ClearQuery()">
            <span class="fa fa-times">
        </div>

        <div class="food-search-input">
            <input type="text" name="food_query" id="food-query" oninput="UpdateClearQuery()" class="search-input" placeholder="Введите название продукта или шаблона" {% if query %}value="{{query}}"{% endif %}>
        </div>

        <div class="food-search-button">
            <button type="submit"><span class="fa fa-search"></span></button>
        </div>
    </form>

    <div class="food-search-results" id="food-search-results">
        {% if food_items == [] %}
            {% if query %}
            <p>По запросу <i>"{{query}}"</i> продуктов не найдено...</p>
            <p>Если Вы уверены, что продукт должен быть, нажмите кнопку ниже:</p>
            {% elif frequent_food_items %}
            <div class="frequent-food">
                {% for food_item in frequent_food_items %}{% include "food_item.html" %}{% endfor %}
            </div>
            </div>
            {% endif %}
        {% else %}

            {% for food_item in food_items %}{% include "food_item.html" %}{% endfor %}
        {% endif %}
        </div>

        <div class="add-food">
            <button onclick="location.href='/add-food?{% if query %}food_query={{query.replace("'", "\\'")}}&{% endif %}{% if date and meal_type %}date={{date}}&meal_type={{meal_type}}{% endif %}';"><span class="fa fa-plus"></span> Добавить продукт</button>

            <button onclick="location.href='/add-template?{% if query %}food_query={{query.replace("'", "\\'")}}&{% endif %}{% if date and meal_type %}date={{date}}&meal_type={{meal_type}}{% endif %}';"><span class="fa fa-plus"></span> Добавить шаблон</button>
        </div>
    </div>

    <script src="/js/forms.js"></script>
    <script src="/js/food_collection.js"></script>
    <script>
        function ClickFoodItem(foodId) {
        {% if date and meal_type %}
            TogglePortionEdit(foodId)
        {% else %}
            location.href = `/edit-food/${foodId}{% if query %}?food_query={{query.replace("'", "\\'")}}{% endif %}`
        {% endif %}
        }

        function ClickTemplateItem(templateId) {
        {% if date and meal_type %}
            TogglePortionEdit(templateId)
        {% else %}
            location.href = `/edit-template/${templateId}{% if query %}?food_query={{query.replace("'", "\\'")}}{% endif %}`
        {% endif %}
        }

        {% if date and meal_type %}
        function AddMeal(date, mealType, foodId) {
            let portionSize = document.getElementById(`${foodId}-portion-size`)
            let portionUnit = document.getElementById(`${foodId}-portion-unit`)
            let portionError = document.getElementById(`${foodId}-portion-error`)

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                portionError.innerText = "Размер порции введён некорректно"
                return
            }

            let data = {
                date: date,
                meal_type: mealType,
                food_id: foodId,
                portion_size: portionSize.value,
                portion_unit: portionUnit.value
            }

            SendRequest("/add-meal", data).then((response) => {
                if (response.status != "ok") {
                    alert(response.message)
                    return
                }

                location.href = `/diary?date={{date}}`
            })
        }

        function AddMealTemplate(date, mealType, templateId) {
            let portionSize = document.getElementById(`${templateId}-portion-size`)
            let portionError = document.getElementById(`${templateId}-portion-error`)

            if (!IsPositiveReal(portionSize.value)) {
                portionSize.focus()
                portionSize.select()
                portionError.innerText = "Размер порции введён некорректно"
                return
            }

            let data = {
                date: date,
                meal_type: mealType,
                template_id: templateId,
                portion_size: portionSize.value,
            }

            SendRequest("/add-meal-template", data).then((response) => {
                if (response.status != "ok") {
                    alert(response.message)
                    return
                }

                location.href = `/diary?date={{date}}`
            })
        }
        {% endif %}
    </script>
</body>
</html>
