    {% include "head.html" %}
    <title>{{title}} | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/add-food.css">
</head>
<body>
    {% include "menu.html" %}
    <div>
        <div class="form-row">
            <label>Название продукта:
                <input type="text" id="name" autocomplete="off" {% if food %}value="{{food.name}}"{% endif %}>
            </label>
            <div class="error-center" id="name-error"></div>
        </div>

        <div class="form-row">
            <label for="energy">Энергетическая ценность</label>
            <input class="half right" type="number" step="0.01" min="0" value="{% if food %}{{food.energy}}{% else %}0{% endif %}" id="energy"> ккал /
            <select class="auto" id="portion">
                <option value="100 г" {% if food %}{%if food.portion == "100 г" %}selected{% endif %}{% else %}selected{% endif %}>100 г</option>
                <option value="100 мл" {% if food and food.portion == "100 мл" %}selected{% endif %}>100 мл</option>
            </select>
            <div class="error-center" id="energy-error"></div>
        </div>

        <div class="form-row">
            <label>Белки (г)
                <input type="number" step="0.01" min="0" value="{% if food %}{{food.proteins}}{% else %}0{% endif %}" id="proteins">
            </label>
            <div class="error-center" id="proteins-error"></div>
        </div>

        <div class="form-row">
            <label>Жиры (г)
                <input type="number" step="0.01" min="0" value="{% if food %}{{food.fats}}{% else %}0{% endif %}" id="fats">
            </label>
            <div class="error-center" id="fats-error"></div>
        </div>

        <div class="form-row">
            <label>Углеводы (г)
                <input type="number" step="0.01" min="0" value="{% if food %}{{food.carbohydrates}}{% else %}0{% endif %}" id="carbohydrates">
            </label>
            <div class="error-center" id="carbohydrates-error"></div>
        </div>

        <div class="form-row">
            <label>Варианты порции</label>
            <div id="conversions-box"></div>
            <div class="error-center" id="conversions-error"></div>
            <button id="conversion-button"><span class="fa fa-plus"></span> Добавить вариант</button>
        </div>

        <div class="form-row">
            <label>Описание</label>
            <div class="contenteditable" contenteditable id="description">{% if food %}{{food.description}}{% endif %}</div>
        </div>

        <div class="form-row">
            <label>Алиасы</label>
            <div id="aliases-box"></div>
            <div class="error-center" id="aliases-error"></div>
            <button id="aliases-button" onclick="AddAlias()"><span class="fa fa-plus"></span> Добавить алиас</button>
        </div>

        <div class="form-row center buttons">
            <button id="save-button"><span class="fa fa-save"></span> Сохранить</button>
            {% if food and not back_url %}
            <button id="remove-button"><span class="fa fa-trash"></span> Удалить</button>
            {% endif %}
            <button id="back-button"><span class="fa fa-ban"></span> Отмена</button>
            {% if food %}
            <button onclick="location.href='/food-item-statistic/{{food._id}}'"><span class="fa fa-bar-chart"></span> Статистика</button>
            {% endif %}
        </div>
        <div class="error-center" id="save-error"></div>
    </div>

    {% if not food %}
    <div class="add-from-url">
        <div class="add-from-url-header">Загрузить из FatSecret:</div>

        <div class="add-from-url-search">
            <div class="add-from-url-clear{% if query %} add-from-url-clear-show{% endif %}" id="url-clear">
                <span class="fa fa-times"></span>
            </div>

            <div class="add-from-url-search-input">
                <input type="text" id="url-box" autocomplete="off" placeholder="запрос или ссылка на FatSecret" value="{% if query %}{{query}}{% endif %}">
            </div>

            <div class="add-from-url-button">
                <button id="url-button"><span class="fa fa-search"></span></button>
            </div>
        </div>

        <div class="error-center" id="fatsecret-error"></div>
        <div id="fatsecret-search-result"></div>
        <div class="fatsecret-next-search no-display" id="fatsecret-next-search-btn">
            <button onclick="ParseFatsecretQuery(fatsecretQuery, true)">Показать ещё</button>
        </div>
    </div>
    {% endif %}

    <script src="/js/constants.js"></script>
    <script src="/js/forms.js"></script>
    <script>
        var fatsecretPage = 0
        var fatsecretQuery = null

        function InitConversions() {
            let portion = document.getElementById("portion").value

            for (let key of BASE_UNITS)
                for (let unit of Object.keys(PORTION_UNITS_DEFAULT[key]))
                    RemoveConversion(unit)

            for (let unit of Object.keys(PORTION_UNITS_DEFAULT[portion]))
                AddConversion({unit: unit, value: PORTION_UNITS_DEFAULT[portion][unit]})

            for (let nodes of document.getElementsByClassName("conversions-base-unit")) {
                nodes.innerText = BASE_UNIT_TO_PORTION[portion]
            }
        }

        function RemoveConversion(unit) {
            for (let item of document.getElementsByClassName('conversions-item')) {
                let unitBox = item.getElementsByClassName('conversions-unit')[0].children[0]

                if (unitBox.value == unit)
                    document.getElementById('conversions-box').removeChild(item)
            }
        }

        function SetConversionValue(unitSelect, valueInput) {
            let portion = document.getElementById("portion").value
            let unit = unitSelect.value

            if (portion in PORTION_UNITS_CONVERSIONS && unit in PORTION_UNITS_CONVERSIONS[portion])
                valueInput.value = Math.round(PORTION_UNITS_CONVERSIONS[portion][unit] * 1000) / 10
            else
                valueInput.value = 100
        }

        function AddConversion(target = null) {
            let block = document.getElementById('conversions-box')

            let div = document.createElement('div')
            div.className = 'conversions-item'

            let closeDiv = MakeDiv('conversions-close')
            let unitDiv = MakeDiv('conversions-unit')
            let valueDiv = MakeDiv('conversions-value')

            let closeIcon = MakeDiv("fa fa-times", closeDiv, null, "span")
            closeIcon.addEventListener("click", () => block.removeChild(div))

            let unitSelect = document.createElement('select')
            let portion = document.getElementById("portion").value

            for (let unit of PORTION_UNITS) {
                if (target === null && unit in PORTION_UNITS_DEFAULT[portion])
                    continue

                let option = document.createElement('option')
                option.value = unit
                option.innerText = unit
                unitSelect.appendChild(option)
            }

            let valueInput = document.createElement('input')
            valueInput.type = "number"
            valueInput.step = 0.01
            valueInput.min = 0.01
            valueInput.value = 100
            valueInput.addEventListener('focus', () => valueInput.select())
            unitSelect.addEventListener("change", () => SetConversionValue(unitSelect, valueInput))

            if (target !== null) {
                unitSelect.value = target.unit
                valueInput.value = Math.round(target.value * 1000) / 10

                if (target.unit in PORTION_UNITS_DEFAULT[portion]) {
                    unitSelect.setAttribute('disabled', '')
                    valueInput.setAttribute('disabled', '')
                }
                else if (target.blocked) {
                    unitSelect.setAttribute('disabled', '')
                }
            }

            let baseDiv = MakeDiv("conversions-base-unit")
            baseDiv.innerHTML = BASE_UNIT_TO_PORTION[portion]

            if (target === null || !(target.unit in PORTION_UNITS_DEFAULT[portion]) && !target.blocked) {
                div.appendChild(closeDiv)
                closeDiv.appendChild(closeIcon)
            }

            unitDiv.appendChild(unitSelect)
            valueDiv.appendChild(valueInput)
            div.appendChild(unitDiv)
            div.appendChild(valueDiv)
            div.appendChild(baseDiv)

            block.appendChild(div)
        }

        function GetConversions() {
            let items = document.getElementsByClassName('conversions-item')
            let error = document.getElementById("conversions-error")
            let conversions = {}

            for (let item of items) {
                let unitBox = item.getElementsByClassName('conversions-unit')[0].children[0]
                let valueBox = item.getElementsByClassName('conversions-value')[0].children[0]

                let unit = unitBox.value
                let value = valueBox.value

                if (unit in conversions) {
                    error.innerText = `Вариант "${unit}" уже был добавлен`
                    unitBox.focus()
                    return null
                }

                if (!IsRealValue(value) || +value <= 0) {
                    error.innerText = `Коэффициент для варианта "${unit}" введён некорректно`
                    valueBox.focus()
                    return null
                }

                conversions[unit] = value / 100
            }

            error.innerText = ""
            return conversions
        }

        function AddAlias(name = null) {
            let aliases = document.getElementById("aliases-box")
            let alias = MakeDiv("alias", aliases)

            let aliasRemove = MakeDiv("alias-close", alias)
            let aliasRemoveIcon = MakeDiv("fa fa-times", aliasRemove)
            aliasRemoveIcon.addEventListener("click", () => aliases.removeChild(alias))

            let aliasName = MakeDiv("alias-name", alias)
            let aliasInput = MakeInput("text", aliasName)
            let aliasError = MakeDiv("alias-error error-center", alias)

            aliasInput.addEventListener("input", () => {
                aliasInput.classList.remove("error")
                aliasError.innerText = ""
            })

            if (name !== null)
                aliasInput.value = name
        }

        function GetAliases() {
            let aliases = []
            let isCorrect = true

            for (let aliasItem of document.getElementsByClassName('alias')) {
                let aliasInput = aliasItem.getElementsByClassName('alias-name')[0].children[0]
                let alias = aliasInput.value.trim()
                let error = aliasItem.getElementsByClassName('alias-error')[0]

                aliasInput.value = alias
                aliases.push(alias)
                error.innerText = ""

                if (alias.length == 0) {
                    aliasInput.classList.add("error")
                    error.innerText = "Алиас не заполнен"
                    isCorrect = false
                }
            }

            return isCorrect ? aliases : null
        }

        function ValidateFields(fields) {
            let data = {}
            let haveErrors = false

            for (const field of fields) {
                let fieldBox = document.getElementById(field.name)
                let value = fieldBox.value

                if (field.func !== null) {
                    let error = document.getElementById(`${field.name}-error`)

                    if (!field.func(value)) {
                        error.innerText = field.message
                        fieldBox.classList.add("error")
                        fieldBox.focus()
                        haveErrors = true
                    }
                    else {
                        error.innerText = ''
                    }
                }

                data[field.name] = value
            }

            return haveErrors ? null : data
        }

        function SaveFood() {
            let fields = [
                {name: "name", func: IsNotEmptyValue, message: "Название продукта не заполнено"},
                {name: "portion", func: null},
                {name: "energy", func: (value) => IsRealValue(value) && +value > 0, message: "Энергетическая ценность введена некорректно"},
                {name: "fats", func: IsRealValue, message: "Жиры введены некорректно"},
                {name: "proteins", func: IsRealValue, message: "Белки введены некорректно"},
                {name: "carbohydrates", func: IsRealValue, message: "Углеводы введены некорректно"}
            ]

            let food = ValidateFields(fields)
            let conversions = GetConversions()
            let aliases = GetAliases()

            if (food === null || conversions === null || aliases === null)
                return

            food.description = document.getElementById("description").innerText
            food.conversions = conversions
            food.aliases = aliases
            {% if date and meal_type %}
            food.date = "{{date}}"
            food.meal_type = "{{meal_type}}"
            {% endif %}

            let error = document.getElementById("save-error")
            error.innerText = ""

            SendRequest(`{{add_url}}{% if back_url %}?back_url=${encodeURIComponent("{{back_url}}")}{% endif %}`, food).then((response) => {
                if (response.status != "ok") {
                    error.innerText = response.message
                    window.scrollTo({top: error.offsetTop, behavior: 'smooth'})
                }
                else {
                    alert(response.message)
                    location.href = response.href
                }
            })
        }

        {% if food and not back_url %}
        function RemoveFood() {
            let name = document.getElementById("name").value
            let error = document.getElementById("save-error")
            error.innerText = ""

            if (!confirm(`Вы уверены, что хотите удалить продукт "${name}"?`))
                return

            SendRequest("/remove-food/", {"food_id": "{{food._id}}"}).then((response) => {
                if (response.status != "ok") {
                    error.innerText = response.message
                    window.scrollTo({top: error.offsetTop, behavior: 'smooth'})
                    return
                }

                location.href = `/food-collection{% if query %}?food_query={{query}}{% endif %}`
            })
        }
        {% endif %}

        function ParseFatsecretUrl(url) {
            let error = document.getElementById("fatsecret-error")
            error.innerText = ""

            SendRequest("/parse-fatsecret", {"url": url}).then((food) => {
                if (food === null) {
                    error.innerText = "Не удалось распарсить продукт."
                    window.scrollTo({top: error.offsetTop, behavior: 'smooth'})
                    return
                }

                document.getElementById("name").value = food.name
                document.getElementById("portion").value = food.portion
                document.getElementById("energy").value = food.energy
                document.getElementById("fats").value = food.fats
                document.getElementById("proteins").value = food.proteins
                document.getElementById("carbohydrates").value = food.carbohydrates
                window.scrollTo({top: 0, behavior: 'smooth'})

                let block = document.getElementById('conversions-box')
                block.innerHTML = ''

                for (let unit of Object.keys(food.conversions))
                    AddConversion({unit: unit, value: food.conversions[unit]})
            })
        }

        function ParseFatsecretQuery(query, next = false) {
            if (!next) {
                fatsecretQuery = query
                fatsecretPage = 0
            }

            SendRequest("/parse-fatsecret", {"query": query, "page": fatsecretPage++}).then((response) => {
                let resultsDiv = document.getElementById("fatsecret-search-result")
                let nextBtn = document.getElementById("fatsecret-next-search-btn")

                for (let result of response) {
                    let resultDiv = document.createElement("div")
                    let link = document.createElement("div")
                    let info = document.createElement("div")

                    resultDiv.className = "fatsecret-result"
                    link.className = "fatsecret-link"
                    info.className = "fatsecret-info"
                    link.addEventListener('click', () => ParseFatsecretUrl(result.link))

                    link.innerText = result.name
                    info.innerText = result.info

                    resultDiv.appendChild(link)
                    resultDiv.appendChild(info)
                    resultsDiv.appendChild(resultDiv)
                }

                nextBtn.classList.remove("no-display")

                if (response.length == 0 || response.length < 10) {
                    if (!next)
                        resultsDiv.innerText = `К сожалению, по запросу "${query}" ничего не нашлось`
                    nextBtn.classList.add("no-display")
                }
            })
        }

        function ParseFatsecret() {
            let urlBox = document.getElementById("url-box")
            let error = document.getElementById("fatsecret-error")
            let value = urlBox.value.trim()
            urlBox.value = value
            error.innerText = ""

            if (!IsNotEmptyValue(value)) {
                error.innerText = "Пустая ссылка или текстовый запрос"
                window.scrollTo({top: error.offsetTop, behavior: 'smooth'})
                return
            }

            document.getElementById("fatsecret-search-result").innerHTML = ''

            if (value.match(/^https?:\/\/fatsecret/)) {
                ParseFatsecretUrl(value)
            }
            else {
                ParseFatsecretQuery(value)
            }
        }

        for (let key of ["energy", "proteins", "fats", "carbohydrates"]) {
            let input = document.getElementById(key)
            input.addEventListener("focus", () => input.select())
        }

        for (let key of ["name", "energy", "proteins", "fats", "carbohydrates"]) {
            let input = document.getElementById(key)
            input.addEventListener("input", () => {
                let error = document.getElementById(`${key}-error`)
                input.classList.remove("error")
                error.innerText = ""
            })
        }

        let portionBox = document.getElementById("portion")
        let saveButton = document.getElementById("save-button")
        let backButton = document.getElementById("back-button")
        let conversionButton = document.getElementById("conversion-button")
        let error = document.getElementById("fatsecret-error")

        portionBox.addEventListener('change', () => InitConversions())
        conversionButton.addEventListener('click', () => AddConversion())
        saveButton.addEventListener('click', () => SaveFood())
        backButton.addEventListener('click', () => history.back())

        {% if food %}
        {% for unit, value in food.conversions.items() %}
        {% if unit in ["г", "мл"] %}AddConversion({unit: "{{unit}}", value: "{{value}}", blocked: {% if unit in used_units %}true{% else %}false{% endif %} }){% endif %}
        {% endfor %}
        {% for unit, value in food.conversions.items() %}
        {% if unit not in ["г", "мл"] %}AddConversion({unit: "{{unit}}", value: "{{value}}", blocked: {% if unit in used_units %}true{% else %}false{% endif %} }){% endif %}
        {% endfor %}

        {% for alias in food.aliases %}
        AddAlias("{{alias}}")
        {% endfor %}
        {% else %}
        InitConversions()
        {% endif %}

        {% if food and not back_url %}
        let removeButton = document.getElementById("remove-button")
        removeButton.addEventListener('click', () => RemoveFood())
        {% endif %}

        {% if not food %}
        let urlButton = document.getElementById("url-button")
        urlButton.addEventListener('click', () => ParseFatsecret())

        let urlBox = document.getElementById("url-box")
        let urlClear = document.getElementById("url-clear")

        urlBox.addEventListener('keydown', (e) => {
            error.innerText = ""

            if (e.keyCode == 13) {
                e.preventDefault()
                ParseFatsecret()
            }
        })

        urlBox.addEventListener('input', () => {
            if (urlBox.value.trim().length > 0)
                urlClear.classList.add("add-from-url-clear-show")
            else
                urlClear.classList.remove("add-from-url-clear-show")
        })

        urlClear.addEventListener('click', () => {
            urlBox.value = ""
            document.getElementById("fatsecret-search-result").innerHTML = ''
            urlClear.classList.remove("add-from-url-clear-show")
        })
        {% endif %}

        {%if query and not food %}
        ParseFatsecretQuery("{{query.replace('"', '\\"')}}")
        {% endif %}
    </script>
    {% include "footer.html" %}
</body>
</html>
