    {% include "head.html" %}
    {% if user %}
    <title>Личная страница | HELL</title>
    {% else %}
    <title>Главная страница | HELL</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/date-picker.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <link rel="stylesheet" type="text/css" href="/styles/plot.css">
</head>
<body>
    {% include "menu.html" %}
    {% if user %}
    <button class="sign-icon" onclick="Logout()"><span class="fa fa-sign-out"></span></button>
    <button class="settings-icon" onclick="location.href = '/settings'"><span class="fa fa-cog"></span></button>
    <div class="username"><a href="/profile">{% if user.firstname %}{{user.firstname}}{% else %}{{user.username}}{% endif %}</a></div>
    <div class="date" id="date-picker"></div>

    <div class="parameters">
        <div class="parameters-header">Текущие параметры</div>
        <div class="no-parameters {% if user.body_parameters %}no-display{% endif %}" id="no-parameters">Пока что у вас нет ни одного отслеживаемого параметра</div>
        <div class="parameters-items" id="parameters-items">
        {% for parameter in user.body_parameters %}{% include "body_parameter.html" %}{% endfor %}
        </div>
    </div>

    <div>
        <button id="add-parameter" onclick="AddParameter('{{date}}')"><span class="fa fa-plus"> Добавить параметр</span></button>
        <button class="no-display" id="cancel-add-parameter" onclick="CancelAddParameter()"><span class="fa fa-ban"> Отменить</span></button>
    </div>

    <script src="/js/constants.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/swipe.js"></script>
    <script src="/js/plot.js?v=2"></script>
    <script src="/js/date_picker.js"></script>

    <script type="text/javascript">
        let datePicker = new DatePicker("{{date}}", "date-picker", (date) => location.href = `/?date=${date}`, [{% for date in body_used_dates %}"{{date}}", {% endfor %}])

        const parametersData = {}
        {% for parameter in user.body_parameters %}
        parametersData["{{parameter.name}}"] = [
            {% for data in body_parameters.get(parameter.name, []) %}{"date": "{{data["date"]}}", "value": {{data["value"]}}}, {% endfor %}
        ]
        {% endfor %}

        let parameterDatePickers = {
        {% for parameter in user.body_parameters %}
        {% set data = body_parameters.get(parameter.name, [{"value": ""}]) %}
        {% set start_date = data[0]["date"] %}
        {% set end_date = data[-1]["date"] %}
        "{{parameter.name}}": new DatePicker("{{start_date}}-{{end_date}}", "parameter-{{parameter.name}}-dates", (date) => {
            parameterDatePickers["{{parameter.name}}"].SetDate(date)
            parameterDatePickers["{{parameter.name}}"].HideCalendar()
            BuildPlot("{{parameter.name}}")
        }, parametersData["{{parameter.name}}"].map((item) => item.date), false),
        {% endfor %}
        }

        function HaveParameterName(name) {
            for (let nameSpan of document.getElementsByClassName("parameter-name"))
                if (nameSpan.innerText.trim().toLowerCase() == name.trim().toLowerCase())
                    return true

            return false
        }

        function MakeBodyParameterDatalist() {
            let datalist = document.createElement("datalist")
            datalist.id = "body-parameters"

            for (let name of BODY_PARAMETERS) {
                if (HaveParameterName(name))
                    continue

                let option = document.createElement("option")
                option.value = name
                datalist.appendChild(option)
            }

            return datalist
        }

        function MakeUnitParameterDatalist() {
            let datalist = document.createElement("datalist")
            datalist.id = "body-parameter-units"

            for (let key of Object.values(BODY_PARAMETER_UNITS)) {
                let option = document.createElement("option")
                option.value = key
                datalist.appendChild(option)
            }

            return datalist
        }

        function ToggleNewParameterButtons() {
            let addButton = document.getElementById("add-parameter")
            let cancelButton = document.getElementById("cancel-add-parameter")

            addButton.classList.toggle("no-display")
            cancelButton.classList.toggle("no-display")
        }

        function AddParameter(date) {
            EndEditParameters()
            ToggleNewParameterButtons()

            let block = document.getElementById('parameters-items')
            let div = MakeDiv("parameter-new", block)
            let divInput = MakeDiv("parameter-new-inputs", div)
            let divError = MakeDiv("error-center", div)

            divInput.appendChild(MakeBodyParameterDatalist())
            divInput.appendChild(MakeUnitParameterDatalist())

            let nameDiv = MakeDiv("parameter-new-cell parameter-new-name", divInput)
            let valueDiv = MakeDiv("parameter-new-cell parameter-new-value", divInput)
            let unitDiv = MakeDiv("parameter-new-cell parameter-new-unit", divInput)
            let iconsDiv = MakeDiv("parameter-new-cell parameter-new-icons", divInput)

            let nameInput = MakeInput("text", nameDiv, {"list": "body-parameters"})
            let valueInput = MakeInput("number", valueDiv, {"step": "0.001", "value": 0})
            let unitInput = MakeInput("text", unitDiv, {"list": "body-parameter-units"})
            let iconAdd = MakeIcon(iconsDiv, "fa fa-check", () => SaveParameter(date, nameInput, valueInput, unitInput, divError))

            for (let input of [nameInput, valueInput, unitInput])
                input.addEventListener('input', () => {
                    input.classList.remove("error")
                    divError.innerHTML = ""
                })

            let nameLabel = MakeDiv("parameter-new-label", nameDiv)
            nameLabel.innerText = "название"

            let valueLabel = MakeDiv("parameter-new-label", valueDiv)
            valueLabel.innerText = "значение"

            let unitLabel = MakeDiv("parameter-new-label", unitDiv)
            unitLabel.innerText = "ед.изм."
        }

        function CancelAddParameter() {
            let block = document.getElementById('parameters-items')
            let parameterBlock = document.getElementsByClassName("parameter-new")[0]
            block.removeChild(parameterBlock)
            ToggleNewParameterButtons()
        }

        function ValidateParameters(nameInput, valueInput, unitInput, errorDiv) {
            let name = nameInput.value.trim()
            let value = valueInput.value.replace(",", ".").replace(/^\./g, "0.")
            let unit = unitInput.value.trim()
            let errors = []

            nameInput.value = name
            valueInput.value = value
            unitInput.value = unit

            if (!IsNotEmptyValue(name)) {
                errors.push("Название параметра не заполнено")
                nameInput.classList.add("error")
                nameInput.focus()
            }
            else if (HaveParameterName(name)) {
                errors.push("Параметр с таким именем уже существует")
                nameInput.classList.add("error")
                nameInput.focus()
            }

            if (!IsNotEmptyValue(unit)) {
                errors.push(`Единица измерения параметра "${name}" не заполнена`)
                unitInput.classList.add("error")
                unitInput.focus()
            }

            if (!IsNumber(value)) {
                errors.push(`Значение параметра "${name}" введено некорректно`)
                valueInput.classList.add("error")
                valueInput.focus()
                valueInput.select()
            }

            errorDiv.innerHTML = errors.join("<br>")
            return errors.length == 0
        }

        function SaveParameter(date, nameInput, valueInput, unitInput, errorDiv) {
            if (!ValidateParameters(nameInput, valueInput, unitInput, errorDiv))
                return

            let data = {
                date: date,
                name: nameInput.value,
                value: valueInput.value,
                unit: unitInput.value
            }

            SendRequest("/add-body-parameter", data).then((response) => {
                if (response.status != "ok") {
                    errorDiv.innerText = response.message
                    return
                }

                ToggleNewParameterButtons()
                location.reload()
            })
        }

        function RemoveParameter(parameterItem, name, swipe) {
            if (!confirm(`Вы уверены,что хотите удалить параметр "${name}"? Это приведёт к удалению всех записей о нём.`)) {
                swipe.CancelSwipe()
                return
            }

            SendRequest("/remove-body-parameter", {"name": name}).then((response) => {
                let errorDiv = parameterItem.getElementsByClassName("parameter-error")[0]
                let noParameters = document.getElementById("no-parameters")

                if (response.status != "ok") {
                    swipe.CancelSwipe()
                    errorDiv.innerText = response.message
                    return
                }

                let parameter = parameterItem.parentNode
                let parameters = document.getElementById("parameters-items")
                parameters.removeChild(parameter)

                if (parameters.children.length == 0)
                    noParameters.classList.remove("no-display")
            })
        }

        function SwipeParameter(parameterItem) {
            let parameterRemove = parameterItem.parentNode.getElementsByClassName("remove")[0]
            let parameterName = parameterItem.getElementsByClassName("parameter-name")[0].innerText

            let swipe = new Swipe(parameterItem, parameterRemove)
            swipe.onStart = () => { ToggleParameterPlot(parameterName, false); EndEditParameters() }
            swipe.onSwipe = () => RemoveParameter(parameterItem, parameterName, swipe)
        }

        function EndEditParameters(ignore = null) {
            for (let parameterData of document.getElementsByClassName("parameter-data")) {
                let input = parameterData.getElementsByClassName("input")[0]
                let icons = parameterData.getElementsByClassName("parameter-icons")[0]
                let error = parameterData.getElementsByClassName("parameter-error")[0]

                if (input === ignore)
                    continue

                input.innerText = input.getAttribute("data-value")
                input.classList.remove("error")
                input.blur()
                error.innerText = ""
                icons.classList.add("no-display")
            }
        }

        function StartEditParameter(parameterInput, name) {
            EndEditParameters(parameterInput)

            let icons = document.getElementById(`parameter-${name}-icons`)
            icons.classList.remove("no-display")
        }

        function RemoveParameterValue(date, name) {
            if (!confirm(`Вы уверены, что хотите удалить запись о параметре "${name}" для ${date}?`))
                return

            SendRequest("/remove-body-parameter-value", {"date": date, "name": name}).then((response) => {
                let errorDiv = document.getElementById(`parameter-${name}-error`)

                if (response.status != "ok") {
                    errorDiv.innerText = response.message
                    return
                }

                location.reload()
            })
        }

        function UpdateDataParameterValue(date, name, value) {
            for (let i = 0; i < parametersData[name].length; i++) {
                if (parametersData[name][i].date == date) {
                    parametersData[name][i].value = +value
                    return
                }
            }

            parametersData[name].push({date: date, value: +value})
            parametersData[name].sort((a, b) => CompareDates(a.date, b.date))
            parameterDatePickers[name].usedDates.add(date)
        }

        function UpdateParameterValue(date, name, value) {
            let errorDiv = document.getElementById(`parameter-${name}-error`)
            let valueInput = document.getElementById(`parameter-${name}-value`)

            SendRequest("/update-body-parameter-value", {"date": date, "name": name, "value": value}).then((response) => {
                if (response.status != "ok") {
                    errorDiv.innerText = response.message
                    return
                }

                errorDiv.innerText = ''
                valueInput.setAttribute("data-value", value)
                UpdateDataParameterValue(date, name, value)
                EndEditParameters()
                BuildPlot(name)
            })
        }

        function SaveParameterValue(date, name) {
            let valueInput = document.getElementById(`parameter-${name}-value`)
            let errorDiv = document.getElementById(`parameter-${name}-error`)
            let value = valueInput.innerText.replace(/\s+/g, "").replace(",", ".").replace(/^\./g, "0.")
            let valueOriginal = valueInput.getAttribute("data-value")

            valueInput.innerText = value

            if (value == valueOriginal) {
                EndEditParameters()
                return
            }

            if (value == "") {
                RemoveParameterValue(date, name)
                return
            }

            if (!IsNumber(value)) {
                errorDiv.innerText = `Значение параметра "${name}" введено некорректно`
                valueInput.focus()
                valueInput.classList.add("error")
                return
            }

            UpdateParameterValue(date, name, value)
        }

        function BuildPlot(name) {
            let parameter = document.getElementById(`parameter-${name}`)
            let parameterPlot = parameter.getElementsByClassName("parameter-plot")[0]
            let parameterPlotInfo = document.getElementById(`parameter-${name}-plot-info`)
            let parameterPlotView = parameter.getElementsByClassName("parameter-plot-view")[0]
            let dates = this.GetPlotPeriod(name)

            if (dates === null) {
                parameterPlotInfo.innerText = `Нет данных об этом параметре`
                parameterPlotView.classList.add("no-display")
                return
            }

            let startDate = dates.startDate
            let endDate = dates.endDate
            let showTrend = document.getElementById(`parameter-${name}-show-trend`).checked
            let svg = parameter.getElementsByTagName("svg")[0]
            let data = parametersData[name].filter((dataItem) => CompareDates(startDate, dataItem["date"]) <= 0 && CompareDates(dataItem["date"], endDate) <= 0)

            if (data.length == 0) {
                parameterPlotInfo.innerText = `Нет данных для отображения с ${startDate} по ${endDate}`
                parameterPlotView.classList.add("no-display")
                return
            }

            parameterPlotInfo.innerText = `Показаны данные с ${startDate} по ${endDate}`
            parameterPlotView.classList.remove("no-display")
            let plot = new Plot()
            plot.Plot(svg, data, showTrend)
        }

        function UpdateParameterPeriod(name) {
            let period = document.getElementById(`parameter-${name}-period`).value
            let dates = document.getElementById(`parameter-${name}-dates`)

            if (period == "period") {
                dates.classList.remove("no-display")
                parameterDatePickers[name].ShowCalendar()
            }
            else {
                dates.classList.add("no-display")
                BuildPlot(name)
            }
        }

        function GetPlotPeriod(name) {
            let periodInput = document.getElementById(`parameter-${name}-period`)

            if (parametersData[name].length == 0) {
                periodInput.parentNode.classList.add("no-display")
                return null
            }

            periodInput.parentNode.classList.remove("no-display")

            let period = periodInput.value

            let today = new Date()
            let year = today.getFullYear()
            let month = today.getMonth() + 1
            let day = today.getDate()

            let startDate = null
            let endDate = null

            if (period == "all") {
                startDate = parametersData[name][0]["date"]
                endDate = parametersData[name][parametersData[name].length - 1]["date"]
            }
            else if (period == "period") {
                [startDate, endDate] = parameterDatePickers[name].GetDate().split('-')
                startDate = ParseDate(startDate)
                endDate = ParseDate(endDate)
            }
            else if (period == "month") {
                startDate = FormatDate(1, month, year)
                endDate = FormatDate(day, month, year)
            }
            else if (period == "last-month") {
                startDate = FormatDate(1, month - 1, year)
                endDate = FormatDate(new Date(year, month - 1, 0).getDate(), month - 1, year)
            }
            else if (period == "last-100days") {
                let start = new Date(year, month, day - 100)
                startDate = FormatDate(start.getDate(), start.getMonth() + 1, start.getFullYear())
                endDate = FormatDate(day, month, year)
            }

            if (period != "period")
                parameterDatePickers[name].SetDate(`${startDate}-${endDate}`)

            return {startDate, endDate}
        }

        function ToggleParameterPlot(name, open = null) {
            EndEditParameters()

            let parameter = document.getElementById(`parameter-${name}`)
            let parameterPlot = parameter.getElementsByClassName("parameter-plot")[0]

            if (open === null)
                parameterPlot.classList.toggle("no-display")
            else if (open)
                parameterPlot.classList.remove("no-display")
            else
                parameterPlot.classList.add("no-display")

            if (parameterPlot.classList.contains("no-display"))
                return

            BuildPlot(name)
        }

        for (let parameterItem of document.getElementsByClassName("parameter-data")) {
            let parameterName = parameterItem.getElementsByClassName("parameter-name")[0].innerText
            let parameterInput = document.getElementById(`parameter-${parameterName}-value`)
            let parameterIcon = document.getElementById(`parameter-${parameterName}-save`)
            let errorDiv = document.getElementById(`parameter-${parameterName}-error`)

            parameterInput.addEventListener('keydown', (e) => {
                if (e.keyCode == 13) {
                    e.preventDefault()
                    parameterIcon.click()
                }
            })

            parameterInput.addEventListener("input", () => {
                parameterInput.classList.remove("error")
                errorDiv.innerText = ""
            })

            parameterItem.addEventListener('click', (e) => {
                for (let item of e.composedPath())
                    if (item.tagName == "SPAN" && item.classList.contains("input") || item.tagName == "BUTTON")
                        return

                ToggleParameterPlot(parameterName)
            })

            SwipeParameter(parameterItem)
        }
    </script>
    {% else %}
    <button class="sign-icon" onclick="Login()"><span class="fa fa-sign-in"></span></button>
    <p class="center">Добро пожаловать в <b>HELL</b>!</p>
    <p>
        Пожалуйста, <button onclick="Login()"><span class="fa fa-sign-in"></span> войдите</button>, чтобы получить доступ ко всем функциям нашего приложения.
    </p>
    <p>
        Но если не хотите, то можете посмотреть наш <button onclick="location.href='/food-collection'"><span class="fa fa-shopping-basket"></span> список продуктов</button>.
    </p>
    {% endif %}

    {% include "footer.html" %}
</body>
</html>
