<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная страница | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
</head>
<body>
    {% include "menu.html" %}
    <h1>Добро пожаловать в HELL!</h1>
    {% if user %}
        <p>Текущий пользователь: <span class="success">{{ user.username }}</span>, но Вы можете <a href="/logout">выйти</a></p>
    {% else %}
        <p>Вы неавторизованный пользователь, поэтому Вы можете <a href="/login">авторизоваться</a></p>
    {% endif %}

    <p>Сейчас у нас есть: <a href="/food-collection">список продуктов</a></p>
    <p>Вы можете <button onclick="location.href='/add-food';">добавить продукт</button> в него</p>
    {% if user %}
    <p>А ещё у нас есть: <a href="/diary">дневник питания</a></p>
    {% endif %}
</body>
</html>
