    {% include "head.html" %}
    <title>Вход | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
</head>
<body>
    {% include "menu.html" %}
    <form id="login-form" action="/login" method="post">
        <div class="form-row">
            <label>Имя пользователя: <input type="text" name="username" value=""></label>
        </div>
        <div class="form-row">
            <label>Пароль: <input type="password" name="password" value=""></label>
        </div>
        <div class="center">
            <button type="submit">Войти в HELL</button>
        </div>
    </form>

    <span class="error-left" id="error-message"></span>

    {% include "footer.html" %}
    <script>
        function TryAutoAuth() {
            let token = localStorage.getItem("token")

            if (token === null)
                return

            document.cookie = `token=${token}`
            location.reload()
        }

        async function SubmitForm(e) {
            e.preventDefault()
            let username = form.elements.username.value
            let password = form.elements.password.value
            let data = {username, password}

            try {
                let response = await fetch("/login", {
                    method: "POST",
                    body: Object.keys(data).map(key => encodeURIComponent(key) + '=' + encodeURIComponent(data[key])).join('&'),
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
                    }
                })

                if (!response.ok)
                    throw new Error(response.statusText)

                response = await response.json()
                localStorage.removeItem("token")

                if (response.status != "ok")
                    throw new Error(response.message)

                localStorage.setItem("token", response.token)
                window.location.href = '/'
            } catch (error) {
                let errorMessage = document.getElementById("error-message");
                errorMessage.textContent = error.message;
            }
        }

        TryAutoAuth()
        let form = document.getElementById("login-form")
        form.addEventListener("submit", (e) => SubmitForm(e))
    </script>
</body>
</html>