<div class="food-item" id="food-item-{{food_item.meal_id}}" data-meal-type="{{meal_type}}">
    <div class="food-item-remove" style="opacity: 0">
        <span class="fa fa-trash"></span>
    </div>
    <div class="food-item-data" onclick="StatEditPortion(this, '{{food_item.meal_id}}')">
        <div class="food-name">{{food_item.food_item.name}}</div>
        <div class="food-info">
            <div class="food-info-cell food-energy">
                <span id="food-energy-{{food_item.meal_id}}">{{food_item.energy}}</span> ккал
                (<span id="food-portion_size-{{food_item.meal_id}}">{{food_item.portion_size}}</span>
                <span id="food-portion_unit-{{food_item.meal_id}}">{{food_item.portion_unit}}</span>)</div>
            <div class="food-info-cell food-proteins"><span id="food-proteins-{{food_item.meal_id}}">{{food_item.proteins}}</span> г</div>
            <div class="food-info-cell food-fats"><span id="food-fats-{{food_item.meal_id}}">{{food_item.fats}}</span> г</div>
            <div class="food-info-cell food-carbohydrates"><span id="food-carbohydrates-{{food_item.meal_id}}">{{food_item.carbohydrates}}</span> г</div>
        </div>
    </div>
    <div class="food-portion-edit no-display">
        <div class="food-portion-text">Редактирование порции:</div>
        <div class="food-portion-control">
            <div class="food-portion-size">
                <input id="{{food_item.meal_id}}-portion-size" type="number" value="{{food_item.portion_size}}">
            </div>

            <div class="food-portion-unit">
                <select id="{{food_item.meal_id}}-portion-unit">
                    {% for unit in food_item.food_item.conversions %}
                    <option value="{{unit}}">{{unit}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="food-portion-change">
                <button onclick="UpdateMeal('{{date}}', '{{meal_type}}', '{{food_item.meal_id}}')">
                    <span class="fa fa-check"></span>
                </button>
                <button onclick="RemoveMeal('{{date}}', '{{meal_type}}', '{{food_item.meal_id}}')">
                    <span class="fa fa-trash"></span>
                </button>
            </div>
        </div>
    </div>
</div>