    {% include "head.html" %}
    <title>Настройки | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/settings.css">
</head>
<body>
    {% include "menu.html" %}
    <button class="sign-icon" onclick="Logout()"><span class="fa fa-sign-out"></span></button>

    <div class="settings">
        <div class="settings-header">Настройки</div>
        <div class="setting-row">
            <div class="setting-cell setting-header">
                <label for="theme-select">Тема приложения:</label>
            </div>
            <div class="setting-cell setting-value">
                <select id="theme-select">
                    <option value="light" {% if settings.theme == "light" %}selected{% endif %}>светлая</option>
                    <option value="dark" {% if settings.theme == "dark" %}selected{% endif %}>тёмная</option>
                </select>
            </div>
        </div>

        <div class="setting-group-header">Лимиты</div>
        <div class="setting-row">
            <label for="limit-energy">Калории: </label>
            <span class="input" id="limit-energy" role="textbox" tabindex="-1" contenteditable inputmode="decimal" oninput="UpdateLimit('energy')">{{settings.limits.get('energy', '')}}</span> ккал
        </div>
        <div class="error" id="error-energy"></div>

        <div class="setting-row">
            <label for="limit-proteins">Белки: </label>
            <span class="input" id="limit-proteins" role="textbox" tabindex="-1" contenteditable inputmode="decimal" oninput="UpdateLimit('proteins')">{{settings.limits.get('proteins', '')}}</span> г
        </div>
        <div class="error" id="error-proteins"></div>

        <div class="setting-row">
            <label for="limit-fats">Жиры: </label>
            <span class="input" id="limit-fats" role="textbox" tabindex="-1" contenteditable inputmode="decimal" oninput="UpdateLimit('fats')">{{settings.limits.get('fats', '')}}</span> г
        </div>
        <div class="error" id="error-fats"></div>

        <div class="setting-row">
            <label for="limit-carbohydrates">Углеводы: </label>
            <span class="input" id="limit-carbohydrates" role="textbox" tabindex="-1" contenteditable inputmode="decimal" oninput="UpdateLimit('carbohydrates')">{{settings.limits.get('carbohydrates', '')}}</span> г
        </div>
        <div class="error" id="error-carbohydrates"></div>

        <div class="setting-row">
            <input type="checkbox" onchange="UncheckOnNoLimits()" id="add-limits"{% if settings.add_limits %} checked{% endif %}><label for="add-limits"><b>Добавлять каждый день</b></label>
        </div>
        <div class="setting-row center">
            <button onclick="UpdateSettings()"><span class="fa fa-save"></span> Сохранить настройки</button>
        </div>

        <div class="settings-header">Действия</div>
        <div class="setting-row">
            <button onclick="location.href='/update-password'"><span class="fa fa-key"></span> Сменить пароль</button>
        </div>
    </div>

    <script src="/js/forms.js"></script>
    <script src="/js/limits.js"></script>
    <script type="text/javascript">
        function UncheckOnNoLimits() {
            for (let key of ["energy", "proteins", "fats", "carbohydrates"]) {
                let value = document.getElementById(`limit-${key}`).innerText.trim()

                if (value != "")
                    return
            }

            let addLimits = document.getElementById('add-limits')
            addLimits.checked = false
        }

        function UpdateLimit(name) {
            let input = document.getElementById(`limit-${name}`)
            let error = document.getElementById(`error-${name}`)

            error.innerText = ""
            input.classList.remove("error")
            UncheckOnNoLimits()
        }

        function UpdateSettings() {
            let limits = GetLimits()

            if (limits === null)
                return

            let theme = document.getElementById('theme-select').value
            let addLimits = document.getElementById('add-limits').checked

            let settings = {
                user_id: "{{user_id}}",
                theme: theme,
                limits: limits,
                add_limits: addLimits
            }

            SendRequest("/settings", settings).then((response) => {
                if (response.status != "ok")
                    return

                alert("Настройки успешно сохранены")
            })
        }
    </script>

    {% include "footer.html" %}
</body>
</html>
