<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>Статистика с {{start_date}} по {{end_date}} | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/plot.css">
    <link rel="stylesheet" type="text/css" href="/styles/statistic.css">
</head>
<body>
    {% include "menu.html" %}
    <h1>Статистика</h1>

    <div class="statistic-parameters">
        <div class="statistic-period">
            <select id="period" onchange="UpdateStatisticParameters()">
                <option value="today"{% if period == "today" %} selected{% endif %}>сегодня</option>
                <option value="yesterday"{% if period == "yesterday" %} selected{% endif %}>вчера</option>
                <option value="week"{% if period == "week" or not period %} selected{% endif %}>текущая неделя</option>
                <option value="last-week"{% if period == "last-week" %} selected{% endif %}>прошлая неделя</option>
                <option value="last-14days"{% if period == "last-14days" %} selected{% endif %}>последние 14 дней</option>
                <option value="period"{% if period == "period" %} selected{% endif %}>период</option>
            </select>

            <div class="statistic-period-input{% if period != "period" %} no-display{% endif %}" id="dates">
                <div class="statistic-period-input-cell">с</div>
                <div class="statistic-period-input-cell"><input type="text" value="{{start_date}}" id="start-date"></div>
                <div class="statistic-period-input-cell">по</div>
                <div class="statistic-period-input-cell"><input type="text" value="{{end_date}}" id="end-date"></div>
            </div>
        </div>
        <div class="statistic-button">
            <button onclick="ChangeStatisticParameters()">Показать</button>
        </div>
    </div>
    <div class="error-center" id="period-error"></div>
    <div class="statistic-showed">
        Показана информация за
        {% if period == "today" %}сегодня ({{start_date}})
        {% elif period == "yesterday" %}вчера ({{start_date}})
        {% elif period == "week" or not period %}текущую неделю (с {{start_date}} по {{end_date}})
        {% elif period == "last-week" %}прошлую неделю (с {{start_date}} по {{end_date}})
        {% elif period == "last-14days" %}последние 14 дней (с {{start_date}} по {{end_date}})
        {% else %}период с {{start_date}} по {{end_date}}{% endif %}
    </div>

    <div class="statistic">
        <div class="h-scrollable">
            <svg id="statistic-chart"></svg>
        </div>

        <div class="statistic-info">
            <div class="statistic-header">Усреднённые результаты</div>
            <div class="statistic-row"><span class="plot-circle bar-color1"></span> Белки: <span id="proteins"></span></div>
            <div class="statistic-row"><span class="plot-circle bar-color2"></span> Жиры: <span id="fats"></span></div>
            <div class="statistic-row"><span class="plot-circle bar-color3"></span> Углеводы: <span id="carbohydrates"></span></div>
            <div class="statistic-row">Калории: <span id="energy"></span></div>
        </div>
    </div>

    <script src="/js/chart.js"></script>
    <script src="/js/bar_chart.js"></script>
    <script src="/js/forms.js"></script>
    <script>
        let statisticData = [
            {% for date in dates_range %}{ {% for key in statistic[date] %}"{{key}}": {{statistic[date][key]}}, {% endfor %}"date": "{{date}}"},
            {% endfor %}
        ]

        function GetTotalStatistic(keys) {
            let statistic = {energy: 0, count: 0, total: 0}

            for (let key of keys)
                statistic[key] = 0

            for (let data of statisticData) {
                for (let key of keys)
                    statistic[key] += data[key]

                statistic.energy += data.energy

                if (data.energy > 0)
                    statistic.count++
            }

            for (let key of keys)
                statistic.total += statistic[key]

            statistic.count = Math.max(statistic.count, 1)

            return statistic
        }

        function PrintInfo(keys) {
            let statistic = GetTotalStatistic(keys)
            let percents = 0

            for (let key of keys) {
                let span = document.getElementById(key)
                let average = Math.round(statistic[key] / statistic.count * 2) / 2
                let averagePercent = Math.round(statistic[key] / statistic.total * 100)
                percents += averagePercent

                if (percents > 100)
                    averagePercent = Math.round(averagePercent + 100 - percents)

                span.innerText = `${average} г`

                if (statistic.total > 0)
                    span.innerText += ` (${averagePercent}%)`
            }

            let span = document.getElementById("energy")
            span.innerText = `${Math.round(statistic.energy / statistic.count * 2) / 2} ккал`
        }

        function PlotBarStatistic(svg, keys) {
            let barChart = new BarChart()
            barChart.Plot(svg, statisticData, keys, "date", "energy", "ккал")
        }

        function PlotDonutStatistic(svg, keys) {
            if (statisticData[0]["energy"] == 0) {
                svg.style.display = "none"
                return
            }

            let chart = new Chart()
            chart.Plot(svg, keys.map((key) => statisticData[0][key]))
        }

        function PlotStatistic() {
            let keys = ["proteins", "fats", "carbohydrates"]
            let svg = document.getElementById("statistic-chart")

            if (statisticData.length == 1) {
                PlotDonutStatistic(svg, keys)
            }
            else {
                PlotBarStatistic(svg, keys)
            }

            PrintInfo(keys)
        }

        function UpdateStatisticParameters() {
            let period = document.getElementById("period").value
            let dates = document.getElementById("dates")

            if (period == "period") {
                dates.classList.remove("no-display")
            }
            else {
                dates.classList.add("no-display")
            }
        }

        function ChangeStatisticParameters() {
            let period = document.getElementById("period").value
            let periodError = document.getElementById("period-error")
            periodError.innerText = ""

            if (period == "period") {
                let startDateBox = document.getElementById("start-date")
                let endDateBox = document.getElementById("end-date")

                let startDate = ParseDate(startDateBox.value)
                let endDate = ParseDate(endDateBox.value)

                if (startDate == null) {
                    periodError.innerText = "Начальная дата введена некорректно"
                    startDateBox.focus()
                    return
                }

                if (endDate == null) {
                    periodError.innerText = "Конечная дата введена некорректно"
                    endDateBox.focus()
                    return
                }

                if (!ValidateInterval(startDate, endDate)) {
                    periodError.innerText = "Введён некорректный интервал: дата начала должна быть не больше конечной"
                    startDateBox.focus()
                    return
                }

                period = `${startDate}-${endDate}`
            }

            location.href = `/statistic?period=${period}`
        }

        PlotStatistic()
    </script>
</body>
</html>
