    {% include "head.html" %}
    <title>Статистика с {{start_date}} по {{end_date}} | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
    <link rel="stylesheet" type="text/css" href="/styles/plot.css">
    <link rel="stylesheet" type="text/css" href="/styles/date-picker.css">
    <link rel="stylesheet" type="text/css" href="/styles/statistic.css">
</head>
<body>
    {% include "menu.html" %}
    {% if user_id %}
    <button class="sign-icon" onclick="Logout()"><span class="fa fa-sign-out"></span></button>
    <button class="settings-icon" onclick="location.href = '/settings'"><span class="fa fa-cog"></span></button>
    {% endif %}
    <h2>Статистика</h2>

    <div class="statistic-parameters">
        <select id="period" onchange="UpdateStatisticParameters()">
            <option value="today"{% if period == "today" %} selected{% endif %}>сегодня</option>
            <option value="yesterday"{% if period == "yesterday" %} selected{% endif %}>вчера</option>
            <option value="week"{% if period == "week" or not period %} selected{% endif %}>текущая неделя</option>
            <option value="last-week"{% if period == "last-week" %} selected{% endif %}>прошлая неделя</option>
            <option value="last-14days"{% if period == "last-14days" %} selected{% endif %}>последние 14 дней</option>
            <option value="period"{% if period == "period" %} selected{% endif %}>период</option>
        </select>

        <div class="statistic-period-input{% if period != "period" %} no-display{% endif %}" id="dates"></div>
    </div>

    <div class="statistic-showed">
        Показана информация за
        {% if period == "today" %}сегодня ({{start_date}})
        {% elif period == "yesterday" %}вчера ({{start_date}})
        {% elif period == "week" or not period %}текущую неделю (с {{start_date}} по {{end_date}})
        {% elif period == "last-week" %}прошлую неделю (с {{start_date}} по {{end_date}})
        {% elif period == "last-14days" %}последние 14 дней (с {{start_date}} по {{end_date}})
        {% else %}период с {{start_date}} по {{end_date}}{% endif %}
    </div>

    <div class="statistic">
        <div class="statistic-name">Все приёмы пищи</div>
        {% if start_date != end_date %}
        <div>
            <label class="switch-checkbox">
                <input type="checkbox" id="total-donut-plot" onchange="PlotStatistic(CALORIES_DATA, 'total')">
                <span class="switch-checkbox-text">Показывать круговую диаграмму</span>
            </label>
        </div>
        {% endif %}
        <div class="h-scrollable">
            <svg id="statistic-total-chart"></svg>
        </div>

        <div class="statistic-info">
            <div class="statistic-header">Усреднённые результаты</div>
            <div class="statistic-row"><span class="plot-circle bar-color1"></span> Белки: <span id="total-proteins"></span></div>
            <div class="statistic-row"><span class="plot-circle bar-color2"></span> Жиры: <span id="total-fats"></span></div>
            <div class="statistic-row"><span class="plot-circle bar-color3"></span> Углеводы: <span id="total-carbohydrates"></span></div>
            <div class="statistic-row">Калории: <span id="total-energy"></span></div>
        </div>
    </div>

    <div class="statistic{% if meal_types|length == 0 %} no-display{% endif %}">
        <div class="statistic-name" onclick="ToggleStatistic(this)"><span class="fa fa-caret-down"></span> Статистика по приёмам пищи</div>
        <div class="statistic-block">
            {% for meal_type, meal_name in meal_types.items() %}
            <div class="statistic">
                <div class="statistic-block-name">{{meal_name}}</div>
                {% if start_date != end_date %}
                <div>
                    <label class="switch-checkbox">
                        <input type="checkbox" id="{{meal_type}}-donut-plot" onchange="PlotStatistic(CALORIES_MEAL_TYPE_DATA['{{meal_type}}'], '{{meal_type}}')">
                        <span class="switch-checkbox-text">Показывать круговую диаграмму</span>
                    </label>
                </div>
                {% endif %}
                <div class="h-scrollable">
                    <svg id="statistic-{{meal_type}}-chart"></svg>
                </div>

                <div class="statistic-info">
                    <div class="statistic-header">Усреднённые результаты</div>
                    <div class="statistic-row"><span class="plot-circle bar-color1"></span> Белки: <span id="{{meal_type}}-proteins"></span></div>
                    <div class="statistic-row"><span class="plot-circle bar-color2"></span> Жиры: <span id="{{meal_type}}-fats"></span></div>
                    <div class="statistic-row"><span class="plot-circle bar-color3"></span> Углеводы: <span id="{{meal_type}}-carbohydrates"></span></div>
                    <div class="statistic-row">Калории: <span id="{{meal_type}}-energy"></span></div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="/js/chart.js"></script>
    <script src="/js/bar_chart.js"></script>
    <script src="/js/forms.js"></script>
    <script src="/js/date_picker.js"></script>
    <script>
        let datePicker = new DatePicker("{{start_date}}-{{end_date}}", "dates", (date) => {
            datePicker.SetDate(date)
            datePicker.HideCalendar()
            ChangeStatisticParameters()
        },  [{% for date in used_dates %}"{{date}}", {% endfor %}], false)

        const CALORIES_DATA = [
            {% for date in dates_range %}{ {% for key in statistic[date] %}"{{key}}": {{statistic[date][key]}}, {% endfor %}"date": "{{date}}"},
            {% endfor %}
        ]

        const CALORIES_MEAL_TYPE_DATA = {
            {% for meal_type in meal_types %}"{{meal_type}}": [
            {% for date in dates_range %}    { {% for key in statistic_meal_type[date][meal_type] %}"{{key}}": {{statistic_meal_type[date][meal_type][key]}}, {% endfor %}"date": "{{date}}"},
            {% endfor %}],
            {% endfor %}
        }

        function ToggleStatistic(statisticItem) {
            let statisticBlockData = statisticItem.parentNode.getElementsByClassName("statistic-block")[0]
            let caret = statisticItem.getElementsByClassName("fa")[0]
            statisticBlockData.classList.toggle("no-display")
            caret.classList.toggle("fa-caret-right")
            caret.classList.toggle("fa-caret-down")
        }

        function GetTotalStatistic(caloriesData, keys) {
            let statistic = {energy: 0, count: 0, total: 0}

            for (let key of keys)
                statistic[key] = 0

            for (let data of caloriesData) {
                for (let key of keys)
                    statistic[key] += data[key]

                statistic.energy += data.energy

                if (data.energy > 0)
                    statistic.count++
            }

            statistic.count = Math.max(statistic.count, 1)

            return statistic
        }

        function PrintInfo(caloriesData, name, keys, scales) {
            let statistic = GetTotalStatistic(caloriesData, keys)
            let percents = 0
            let total = 0

            for (let key of keys)
                total += statistic[key] * scales[key]

            for (let i = 0; i < keys.length; i++) {
                let key = keys[i]
                let span = document.getElementById(`${name}-${key}`)
                let average = Round(statistic[key] / statistic.count)
                let averagePercent = Round(statistic[key] * scales[key] / total * 100)
                percents += averagePercent

                if (i == keys.length - 1)
                    averagePercent = Round(averagePercent + 100 - percents)

                span.innerText = `${average} г`

                if (total > 0)
                    span.innerText += ` (${averagePercent}%)`
            }

            let span = document.getElementById(`${name}-energy`)
            span.innerText = `${Round(statistic.energy / statistic.count)} ккал`
        }

        function PlotBarStatistic(svg, caloriesData, keys) {
            let barChart = new BarChart()
            let days = ["вс", "пн", "вт", "ср", "чт", "пт", "сб"]
            let data = []

            for (let i = 0; i < caloriesData.length; i++) {
                data.push({})

                for (let key of Object.keys(caloriesData[i]))
                    data[i][key] = caloriesData[i][key]

                let [day, month, year] = data[i]["date"].split(".").map((v) => +v)
                let date = new Date(year, month - 1, day)
                data[i]["date"] = `${days[date.getDay()]}\n${data[i]["date"]}`
            }

            barChart.Plot(svg, data, keys, "date", "energy", "ккал")
        }

        function PlotDonutStatistic(svg, caloriesData, keys) {
            let total = {}

            for (let key of keys) {
                total[key] = 0

                for (let i = 0; i < caloriesData.length; i++)
                    total[key] += caloriesData[i][key]
            }

            if (total["energy"] == 0) {
                svg.style.display = "none"
                return
            }

            let chart = new Chart()
            chart.Plot(svg, keys.map((key) => total[key]))
        }

        function PlotStatistic(caloriesData, name) {
            let keys = ["proteins", "fats", "carbohydrates"]
            let scales = {"proteins": 4, "fats": 9, "carbohydrates": 4}
            let svg = document.getElementById(`statistic-${name}-chart`)
            let donutPlot = document.getElementById(`${name}-donut-plot`)
            let isDonut = donutPlot !== null && donutPlot.checked

            let plotData = []

            for (let data of caloriesData) {
                let values = {}

                for (let key of Object.keys(data))
                    values[key] = key in scales ? data[key] * scales[key] : data[key]

                plotData.push(values)
            }

            svg.style.width = null
            if (caloriesData.length == 1 || isDonut) {
                PlotDonutStatistic(svg, plotData, keys)
            }
            else {
                PlotBarStatistic(svg, plotData, keys)
            }

            PrintInfo(caloriesData, name, keys, scales)
        }

        function UpdateStatisticParameters() {
            let period = document.getElementById("period").value
            let dates = document.getElementById("dates")

            if (period == "period") {
                dates.classList.remove("no-display")
                datePicker.ShowCalendar()
            }
            else {
                dates.classList.add("no-display")
                ChangeStatisticParameters()
            }
        }

        function ChangeStatisticParameters() {
            let period = document.getElementById("period").value

            if (period == "period") {
                period = datePicker.GetDate()
            }

            location.href = `/statistic?period=${period}`
        }

        PlotStatistic(CALORIES_DATA, "total")
        {% for meal_type in meal_types %}PlotStatistic(CALORIES_MEAL_TYPE_DATA["{{meal_type}}"], "{{meal_type}}")
        {% endfor %}

        for (let statisticBlockItem of document.getElementsByClassName("statistic-block"))
            ToggleStatistic(statisticBlockItem.parentNode.children[0])
    </script>
    {% include "footer.html" %}
</body>
</html>
