<!DOCTYPE html>
<html>
<head>
    {% include "head.html" %}
    <title>Сменить пароль | HELL</title>
    <link rel="stylesheet" type="text/css" href="/styles/inputs.css">
</head>
<body>
    {% include "menu.html" %}
    <h1>Сменить пароль</h1>

    <div id="change-password-form">
        <div class="form-row">
        </div>
        <div class="form-row">
            <label>Текущий пароль: <input type="password" id="oldPassword" value=""></label>
        </div>
        <div class="form-row">
            <label>Новый пароль: <input type="password" id="password" value=""></label>
        </div>
        <div class="form-row">
            <label>Подтверждение: <input type="password" id="passwordConfirm" value=""></label>
        </div>
        <div class="center">
            <button onclick="UpdatePassword()"><span class="fa fa-refresh"></span> Сменить пароль</button>
        </div>
    </div>

    <span class="error-left" id="error-message"></span>

    {% include "footer.html" %}
    <script src="/js/forms.js"></script>
    <script>
        function InitPasswordErrorEvent(id) {
            let input = document.getElementById(id)

            input.addEventListener('input', () => {
                input.classList.remove("error")
                let errorMessage = document.getElementById("error-message")
                errorMessage.innerText = ""
            })
        }

        function PasswordError(input, message) {
            input.classList.add("error")
            input.focus()

            let errorMessage = document.getElementById("error-message")
            errorMessage.innerText = message
        }

        function UpdatePassword() {
            let errorMessage = document.getElementById("error-message")

            let oldPasswordInput = document.getElementById("oldPassword")
            let oldPassword = oldPasswordInput.value.trim()
            oldPasswordInput.classList.remove("error")
            oldPasswordInput.value = oldPassword

            let passwordInput = document.getElementById("password")
            let password = passwordInput.value.trim()
            passwordInput.classList.remove("error")
            passwordInput.value = password

            let passwordConfirmInput = document.getElementById("passwordConfirm")
            let passwordConfirm = passwordConfirmInput.value.trim()
            passwordConfirmInput.classList.remove("error")
            passwordConfirmInput.value = passwordConfirm

            if (oldPassword.length == 0) {
                PasswordError(oldPasswordInput, "Старый пароль не заполнен")
                return
            }

            if (password.length == 0) {
                PasswordError(passwordInput, "Новый пароль не заполнен")
                return
            }

            if (passwordConfirm.length == 0) {
                PasswordError(passwordConfirmInput, "Подтверждение пароля не заполнено")
                return
            }

            if (oldPassword == password) {
                PasswordError(passwordInput, "Новый пароль совпадает со старым")
                return
            }

            if (password.length < 8) {
                PasswordError(passwordInput, "Пароль должен состоять как мимимум из 8 символов")
                return   
            }

            if (password != passwordConfirm) {
                PasswordError(passwordConfirmInput, "Введённые пароли не совпадают")
                return
            }

            let data = {old_password: oldPassword, password: password, password_confirm: passwordConfirm}

            SendRequest("/update-password", data).then((response) => {
                if (response.status != "ok") {
                    errorMessage.innerText = response.message
                    return
                }

                alert("Пароль успешно изменён")
                localStorage.setItem("token", response.token)
                window.location.href = '/'
            })
        }

        for (let id of ["oldPassword", "password", "passwordConfirm"])
            InitPasswordErrorEvent(id)
    </script>
</body>
</html>